<!--<label class="col-sm-2 control-label">{{'CONFIG.WIDGET.FILTER'|translate}}</label>-->
<div class="col-sm-12">
    <div dnd-list="curWidget.config.events"
         dnd-inserted="dndTransfer.toEvent(curWidget.config.events,index,item,type,curWidget.datasetId)"
         dnd-allowed-types="['dimension']"
         class="form-control" style="min-height: 35px;height: auto;padding: 0px">
        <div class="dndPlaceholder sort-highlight"
             style="height: 24px; width: 93px;margin: 3px 3px;display: inline-block;vertical-align: middle;">
        </div>
        <div ng-repeat="o in curWidget.config.events" dnd-draggable="o" dnd-effect-allowed="move"
             dnd-moved="curWidget.config.events.splice($index, 1)" dnd-type="o.group?'filterGroup':'filter'"
             class="btn-group" style="cursor: move;margin: 3px 3px;">
            <button type="button" class="btn btn-default btn-sm" style="cursor: move;"
                    ng-click="curWidget.config.selects.push(o.col);curWidget.config.events.splice($index, 1);">
                {{o.alias?o.alias:o.col}}
            </button>
        </div>
    </div>
</div>