<!DOCTYPE html>
<html ng-controller="discoveryCtrl" ng-app="discovery">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Discovery | Starter</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!--build:css css/style_preview.css-->
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="lib/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/css/ionicons.min.css">
    <link rel="stylesheet" href="css/cboard.css">
    <link rel="stylesheet" href="lib/gridster/angular-gridster.min.css">
    <link rel="stylesheet" href="plugins/multiple-select/multiple-select.css">
    <link rel="stylesheet" href="plugins/momentPicker/angular-moment-picker.min.css">
    <link rel="stylesheet" href="css/quirk-lite.css">
    <link rel="stylesheet" href="plugins/powertip/jquery.powertip.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/yili.css">
    <link rel="stylesheet" href="css/preview.css">
    <!--endbuild-->

    <!--[if lt IE 9]>
    <script src="lib/html5shiv.min.js"></script>
    <script src="lib/respond.min.js"></script>
    <![endif]-->

</head>
<body class="loading-hidden">
<section>
    <div class="mainpanel">
        <div class="contentpanel">
            <ui-view>
            </ui-view>
        </div>
    </div>
</section>

<script src="config.js"></script>
<script>
  window.isPreview = true
</script>
<!--build:replace_jquery-->
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<!--endbuild-->

<!--build:libs js/libs_min1.js-->
<script src="lib/angular.min.js"></script>
<script src="lib/angular-ui-router.min.js"></script>
<script src="lib/angular-md5.min.js"></script>
<script src="lib/angular-sanitize.min.js"></script>
<script src="lib/ui-bootstrap-tpls-2.1.3.min.js"></script>
<script src="lib/angular-translate.js"></script>
<script src="lib/angular-translate-loader-partial.js"></script>
<script src="lib/numbro.min.js"></script>
<script src="lib/jquery.ba-resize.js"></script>
<!--endbuild-->

<!--build:libs js/libs_min2.js-->
<script src="plugins/echart/echarts.common.min.js"></script>
<!--endbuild-->

<!--build:libs js/libs_min3.js-->
<script src="plugins/echart/china.js"></script>
<script src="plugins/echart/chinaZone.js"></script>
<script src="plugins/echart/theme-fin1.js"></script>
<script src="plugins/powertip/jquery.powertip.js"></script>
<script src="plugins/momentPicker/moment-with-locales.js"></script>
<script src="plugins/momentPicker/angular-moment-picker.min.js"></script>
<script src="lib/angular-uuid4.min.js"></script>
<script src="plugins/jquery-contextmenu/jquery.contextMenu.min.js"></script>
<script src="lib/underscore.min.js"></script>
<script src="plugins/crossTable/plugin.js"></script>
<script src="lib/gridster/angular-gridster.min.js"></script>
<script src="src/Settings.js"></script>
<script src="plugins/multiple-select/multiple-select.js"></script>
<!--endbuild-->


<!--build:app js/app_preview.js-->
<script src="screen/dlut.utils.js"></script>
<script src="src/util/CBoardEChartUtils.js"></script>
<script src="src/util/CBoardEChartRender.js"></script>
<script src="src/util/CBoardCommonUtils.js"></script>
<!--<script src="src/util/CBoardKpiRender.js"></script>-->
<script src="src/util/CBoardTableRender.js"></script>
<!--<script src="src/util/CBoardMapRender.js"></script>-->
<!--<script src="src/util/CBoardGisRender.js"></script>-->
<!--<script src="src/util/CBoardJsTreeUtils.js"></script>-->
<!--<script src="src/util/CBoardFlexRender.js"></script>-->
<script src="src/util/CBoardFlex2Render.js"></script>
<!--<script src="src/util/CBoardDataLineTableRender.js"></script>-->
<!--<script src="src/util/CBoardGanttRender.js"></script>-->
<!--<script src="src/util/CBoardDataTableRender.js"></script>-->
<!--<script src="src/util/CBoardCrossGreatTableRender.js"></script>-->
<script src="src/util/CBoardSelectorRender.js"></script>
<script src="src/ng-app-preview.js"></script>
<script src="src/ng-config.constant.js"></script>
<script src="src/ng-config.router-preview.js"></script>
<script src="src/ng-config.http.js"></script>
<script src="src/ng-config.translate.js"></script>
<script src="src/controller/cboard/cBoardCtrl.js"></script>
<!--<script src="src/controller/cboard/menuItemCtrl.js"></script>-->
<!--<script src="src/common/tableCtrl.js"></script>-->

<!--<script src="src/controller/dashboard/dashboardViewCtrl.js"></script>-->
<!--<script src="src/controller/config/widgetCtrl.js"></script>-->
<!--<script src="src/controller/config/datasourceCtrl.js"></script>-->
<!--<script src="src/controller/config/boardCtrl.js"></script>-->
<!--<script src="src/controller/config/freeLayoutCtrl.js"></script>-->
<!--<script src="src/controller/config/folderTreeCtrl.js"></script>-->
<!--<script src="src/controller/config/categoryCtrl.js"></script>-->
<!--<script src="src/controller/config/datasetCtrl.js"></script>-->
<!--<script src="src/controller/config/buildModelCtrl.js"></script>-->
<!--<script src="src/controller/admin/userAdminCtrl.js"></script>-->
<!--<script src="src/controller/config/jobCtrl.js"></script>-->
<!--<script src="src/controller/config/job/mailJobCtrl.js"></script>-->
<!--<script src="src/controller/config/shareResCtrl.js"></script>-->
<!--<script src="src/controller/utils/paramSelector.js"></script>-->
<!--<script src="src/controller/nv/permission/PermissionSettingCtrl.js"></script>-->

<script src="src/service/dashboard/dashboardService.js"></script>
<!--<script src="src/service/dashboard/freeLayoutService.js"></script>-->
<script src="src/service/data/dataService.js"></script>
<script src="src/directive/dashboard/dashboardWidget.js"></script>

<script src="src/filter/dashboard/dashboardViewFilter.js"></script>

<!--<script src="src/util/CBoardD3Render.js"></script>-->
<script src="src/service/dashboard/BoardParamService.js"></script>
<script src="src/service/data/ComputedValueService.js"></script>
<script src="src/service/dashboard/menuDataService.js"></script>
<script src="src/service/chart/chartDataProcess.js"></script>
<script src="src/service/chart/chartFunnelService.js"></script>
<script src="src/service/chart/chartKpiService.js"></script>
<script src="src/service/chart/chartLineMapService.js"></script>
<script src="src/service/chart/chartLineService.js"></script>
<script src="src/service/chart/chartLine2Service.js"></script>
<script src="src/service/chart/chartLine3Service.js"></script>
<script src="src/service/chart/chartPieService.js"></script>
<script src="src/service/chart/chartPie2Service.js"></script>
<script src="src/service/chart/chartFlexChartService.js"></script>
<script src="src/service/chart/chartFlexD3ChartService.js"></script>
<script src="src/service/chart/chartSankeyService.js"></script>
<script src="src/service/chart/chartCircularService.js"></script>
<script src="src/service/chart/chartEchart3dMapService.js"></script>
<script src="src/service/chart/chartEchart3dMapLineService.js"></script>
<script src="src/service/chart/chartEchart3dBarService.js"></script>
<script src="src/service/chart/chartEchartCityMapService.js"></script>
<script src="src/service/chart/chartEchart3dAreaService.js"></script>
<script src="src/service/chart/chartBarPolarStackService.js"></script>
<script src="src/service/chart/chartPieProportionService.js"></script>
<script src="src/service/chart/chartRadarService.js"></script>
<script src="src/service/chart/chartService.js"></script>
<script src="src/service/chart/chartMapService.js"></script>
<script src="src/service/updater/updateService.js"></script>
<script src="src/service/chart/chartRoseService.js"></script>
<!--<script src="src/service/chart/chartGisService.js"></script>-->
<script src="src/service/chart/chartD3ChordService.js"></script>
<script src="src/service/chart/chartTableService.js"></script>
<script src="src/service/chart/chartScatterService.js"></script>
<script src="src/service/chart/chartScatter2Service.js"></script>
<script src="src/service/chart/chartCrossTableService.js"></script>
<script src="src/service/chart/chartCrossTableGreatService.js"></script>
<script src="src/service/chart/chartSelectorService.js"></script>
<script src="src/service/chart/chartGaugeService.js"></script>
<script src="src/service/chart/chartWordCloudService.js"></script>
<script src="src/service/chart/chartTreeMapService.js"></script>
<script src="src/service/chart/chartAreaMapService.js"></script>
<script src="src/service/chart/chartHeatMapCalendarService.js"></script>
<script src="src/service/chart/chartHeatMapTableService.js"></script>
<script src="src/service/chart/chartMarkLineMapService.js"></script>
<script src="src/service/chart/chartLiquidFillService.js"></script>
<script src="src/service/chart/chartD3DemoService.js"></script>
<script src="src/service/chart/chartCodeFlowerService.js"></script>
<script src="src/service/chart/chartFlexService.js"></script>
<script src="src/service/chart/chartFlex2Service.js"></script>
<script src="src/service/chart/chartGanttService.js"></script>
<script src="src/service/chart/chartBarLimitsService.js"></script>
<script src="src/service/chart/chartDataLineTableService.js"></script>
<script src="src/service/chart/chartEchartBmapService.js"></script>
<script src="src/service/chart/chartEchartZoneMapService.js"></script>

<!--<script src="src/controller/nv/dashboard/NvParamCtrl.js"></script>-->
<!--<script src="src/controller/nv/dashboard/NvSelectorCtrl.js"></script>-->
<!--<script src="src/controller/nv/dashboard/paramCtrl.js"></script>-->
<!--<script src="src/controller/nv/share/NvShareCtrl.js"></script>-->
<!--<script src="src/controller/nv/screen/NvScreenMenuCtrl.js"></script>-->
<!--<script src="src/controller/nv/statistics/NvStatisticsCtrl.js"></script>-->
<!--<script src="src/controller/nv/typeControl/NvTypeControlCtrl.js"></script>-->
<!--<script src="src/controller/nv/datasource/NvDataSourceCtrl.js"></script>-->
<!--<script src="src/controller/nv/docs/NvDocsAnalyse.js"></script>-->
<!--<script src="src/controller/nv/docs/NvDocsResult.js"></script>-->
<!--<script src="src/controller/nv/docs/related/NvDocsRelatedWidgetCtrl.js"></script>-->
<!--<script src="src/controller/nv/docs/related/NvDocsRelatedDatasetCtrl.js"></script>-->
<!--<script src="src/util/JsTreeUtils.js"></script>-->
<script src="src/service/util/ModalUtils.js"></script>

<script src="src/directive/dashboard/nvDashboardWidget.js"></script>

<!--<script src="src/controller/nv/render/renderCtrl.js"></script>-->
<!--<script src="src/controller/nv/home/NvHomeCtrl.js"></script>-->
<!--<script src="src/controller/nv/cube/NvCubeCtrl.js"></script>-->
<!--<script src="src/controller/nv/mind/nvJsMindCtrl.js"></script>-->
<!--<script src="src/controller/nv/mind/nvJsMindListCtrl.js"></script>-->
<script src="src/controller/nv/dashboard/NvDashboardCtrl.js"></script>
<!--<script src="src/controller/nv/explore/NvExploreEditCtrl.js"></script>-->
<!--<script src="src/controller/nv/explore/NvExploreListCtrl.js"></script>-->
<script src="src/controller/nv/dashboard/NvDashboardViewCtrl.js"></script>
<script src="src/controller/nv/dashboard/NvDashboardViewModelCtrl.js"></script>
<script src="src/service/event/DefaultEventService.js"></script>

<!--<script src="src/controller/nv/onlyChart/OnlyChartCtrl.js"></script>-->
<!--endbuild-->

<script type="text/javascript" src="js/templates_preview.js"></script>

<script type="text/ng-template" id="echartContent">
    <div class="col-md-{{widget.width}}">
        <div class="box box-solid" style="z-index: 99;">
            <div class="box-header" ng-mouseover="x=true" ng-mouseleave="x=false">
                <!--<i class="fa fa-bar-chart-o"></i>-->
                <h3 class="box-title">{{widget.name}}</h3>
                <div class="box-tools pull-right" ng-show="x" ng-init="x=false">
                    <button type="button" class="btn btn-box-tool" ng-click="reload(widget)"><i
                            class="fa fa-refresh"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" ng-if="widgetCfg" ng-click="config(widget)"><i
                            class="fa fa-wrench"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" ng-click="modalChart(widget)"><i
                            class="fa fa-square-o"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" ng-style="{height:myheight+'px'}" style="padding: 3px 0px 3px 13px;">
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="kpiContent">
    <div class="col-md-{{widget.width}} kpi-body">
    </div>
</script>
<script type="text/ng-template" id="chartContent">
    <div class="col-md-{{widget.width}}" style="z-index: 99;">
        <div class="box box-solid">
            <div class="box-header" ng-mouseover="x=true" ng-mouseleave="x=false">
                <!--<i class="fa fa-bar-chart-o"></i>-->
                <h3 class="box-title">{{widget.name}}</h3>
                <div class="box-tools pull-right" ng-show="x" ng-init="x=false">
                    <button type="button" class="btn btn-box-tool" ng-click="reload(widget)"><i
                            class="fa fa-refresh"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" ng-if="widgetCfg" ng-click="config(widget)"><i
                            class="fa fa-wrench"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" ng-click="modalTable(widget)"><i
                            class="fa fa-square-o"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" ng-style="{height:myheight+'px'}" style="padding: 3px 0px 3px 13px;">
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="nvD3Content">
    <div class="box-body d3" name="{{widget.widget.data.wName}}" style="height:100%;width:100%;padding:0px;background: transparent"></div>
</script>
<script type="text/ng-template" id="nvEchartContent">
    <div class="box-body cscc" name="{{widget.widget.data.wName}}" style="height:100%;width:90%;padding:0px"></div>
</script>
<script type="text/ng-template" id="nvKpiContent">
    <div class="kpi-body" name="{{widget.widget.data.wName}}" style="height:100%;width:100%;padding:0px"></div>
</script>
<script type="text/ng-template" id="nvChartContent">
    <div class="box-body nvc" name="{{widget.widget.data.wName}}" style="height:100%;width:100%;padding:0px"></div>
</script>
<script type="text/ng-template" id="selectorContent">
    <div class="box-body" style="height:100%;width:100%;padding:0px;background: transparent"></div>
</script>
<script type="text/ng-template" id="jsMindContent">
    <div class="chart-title" style="padding: 5px 0;font-size: 16px"></div>
    <div class="box-body" style="height:300px !important;width: 300px;padding: 0;margin-top: -5px;margin-left: -20px"></div>
</script>
<div id="globalLoading" class="loading-panel"
     style="display:none;width: 100%;position: absolute;top:0;left:0;right:0;bottom:0;z-index: 1049;margin: -10px">
    <div class="loader">
        <div class="loading-spinner">
            <svg viewBox="25 25 50 50" class="circle">
                <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
            </svg>
        </div>
    </div>
</div>
</body>
</html>
