.contentTheme, .contentTheme.center {
    background-position: center center;
    /*background-color: red;*/
    background-size: cover;
    background: url("/theme/theme_Beili01/images/bk_center.jpg") no-repeat;
}

.contentTheme.left {
    background: url("/theme/theme_Beili01/images/bk_left.jpg") no-repeat;
}

.contentTheme.right {
    background: url("/theme/theme_Beili01/images/bk_right.jpg") no-repeat;
}

.contentTheme .content-header h1 {
    color: white;
}

.contentTheme .panelTheme {
    /*padding-top: 18px;*/
}

.contentTheme .panelTheme > .box {
    background: rgba(0, 0, 0, 0.25);
    /*border: 2px solid rgba(4, 111, 111, 0.5);*/
    border: 1px solid rgba(83, 93, 118, 1);
    /*border-image: -webkit-linear-gradient(-240deg, rgba(8, 150, 165, 0.6), rgba(186, 186, 186, 0.6), rgba(186, 186, 186, 0.6), rgba(8, 150, 165, 0.6)) 30 30;
    border-image: -moz-linear-gradient(-240deg, rgba(8, 150, 165, 0.6), rgba(186, 186, 186, 0.6), rgba(186, 186, 186, 0.6), rgba(8, 150, 165, 0.6)) 30 30;
    border-image: linear-gradient(-240deg, rgba(8, 150, 165, 0.6), rgba(186, 186, 186, 0.6), rgba(186, 186, 186, 0.6), rgba(8, 150, 165, 0.6)) 30 30;*/
    border-radius: 0px;
}

.contentTheme .panelTheme .box {
    margin-bottom: 0px;
    box-sizing: initial;
}

.contentTheme .panelTheme .box .box {
    background: none;
}

/*chartFlexService*/

.contentTheme .panelTheme > .box > .box-header .box-header-btns i {
    color: #49d9fe;
    font-size: 12px;
}

.contentTheme .panelTheme > .box > .box-header .box-header-btns a {
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    text-align: center;
    line-height: 8px;
}

.contentTheme .panelTheme > .box.titleSize01 > .box-header {
    height: 54px;
    line-height: 54px;
}

.contentTheme .panelTheme > .box.titleSize02 > .box-header {
    padding-top: 0px;
    height: 36px;
}

.contentTheme .panelTheme > .box.titleSize03 > .box-header {
    height: 36px;
    padding-top: 0px;
}

.contentTheme .panelTheme > .box.title-yellow > .box-header > span i {
    color: #ed9145
}

.contentTheme .panelTheme > .box > .box-header {
    padding: 0px;
    text-align: left;
    position: relative;
    display: block;
    padding-top: 10px;
    font-size: 26px;
    border-bottom: 1px solid rgba(83, 93, 118, 1) !important;
}

.contentTheme .panelTheme > .box.alignLeft > .box-header {
    text-align: left;
}

.contentTheme .panelTheme > .box.alignCenter > .box-header {
    text-align: center;
}

.contentTheme .panelTheme > .box.alignRight > .box-header {
    text-align: right;
}

.contentTheme .panelTheme > .box > .box-header .box-header-btns {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 999;
    line-height: 12px;
}

.contentTheme .panelTheme > .box > .box-header.with-border {
    border: none;
}

.contentTheme .panelTheme > .box > .box-content {
    /* margin-top: 7px;*/
}

.contentTheme .panelTheme > .box .box-solid {
    border: none;
}

.contentTheme .panelTheme > .box > .box-header > span {
    position: relative;
}

.contentTheme .panelTheme > .box > .box-header > span .horn-left {
    /*background: url("/theme/theme_StarrySky/images/headertitle_before.png") no-repeat;*/
    position: absolute;
    left: -105px;
    top: -18px;
    width: 105px;
    height: 31px;
    display: none;
}

.contentTheme .panelTheme > .box > .box-header > span .horn-right {
    /*background: url("/theme/theme_StarrySky/images/headertitle_after.png") no-repeat;*/
    position: absolute;
    right: -105px;
    top: -18px;
    width: 105px;
    height: 31px;
    display: none;
}

.contentTheme .panelTheme > .box > .box-header > span i {
    font-style: normal;
    color: #ffffff;
    font-size: 26px;
    /*background: url("/theme/theme_StarrySky/images/headertitle_bk.png") repeat-x;*/
    height: 35px;
    line-height: 35px;
    display: inline-block;
    margin: 0 auto;
    padding: 0px 10px;
    max-width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0px;
    background: url("/theme/theme_Beili01/images/titleIcon.png") no-repeat;
    background-position: 26px 9px;
    padding-left: 59px;
}

.contentTheme .panelTheme > .box > .box-header > span i:nth-child(3) {
    background: none;
    padding-left: 0;
}

.contentTheme .panelTheme .titleSize01.box > .box-header > span i {
    font-size: 26px;
}

.contentTheme .panelTheme .titleSize02.box > .box-header > span i {
    font-size: 22px;
}

.contentTheme .panelTheme .titleSize03.box > .box-header > span i {
    font-size: 18px;
}

.contentTheme .panelTheme .titleIconNone.box > .box-header > span i {
    background: none;
    padding-left: 25px;
}

.contentTheme .panelTheme .titleIcon01.box > .box-header > span i {
    background-position: 25px -43px;
}

.contentTheme .panelTheme .titleIcon02.box > .box-header > span i {
    background-position: 25px -81px;
}

.contentTheme .panelTheme .titleIcon03.box > .box-header > span i {
    background-position: 25px -120px;
}

.contentTheme .panelTheme .flexTextColor01 .flex_textGroupFlex .flex_textGroup_list:nth-child(1) h5 {
    color: rgba(154, 188, 193, 0.7)
}

.contentTheme .panelTheme .flexTextColor01 .flex_textGroupFlex .flex_textGroup_list:nth-child(3) h5 {
    color: rgba(36, 137, 176, 0.7)
}

/*滚动条样式*/
.contentTheme *::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #1f3348;
}

.contentTheme *::-webkit-scrollbar {
    border-radius: 10px;
    width: 10px;
    height: 10px;
    background-color: #1f3348;
}

.contentTheme *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #3f5f8a;
    /*border: 2px solid #555;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
}

/*.contentTheme .panelTheme > .box > .box-header > span:before{
    margin-top:-23px;
    vertical-align:middle;
    display:inline-block;
    height:31px;
    content: url("/theme/theme_StarrySky/images/headertitle_before.png");
}

.contentTheme .panelTheme > .box > .box-header > span:after{
    margin-top:-23px;
    vertical-align:middle;
    display:inline-block;
    height:31px;
    content: url("/theme/theme_StarrySky/images/headertitle_after.png");
}*/

.contentTheme .panelTheme .handle-se, .handle-ne, .handle-sw, .handle-nw {
    /*background: url("/theme/theme_Beili01/images/themepanel_horn.png") no-repeat;*/
    width: 45px;
    height: 45px;
}

.contentTheme .panelTheme .handle-se {
    border-width: 0 0 18px 18px;
}

.contentTheme .handle-se {
    border-style: none;
    border-style: none;
    border-width: 0;
}

.contentTheme .handle-e, .handle-w {
    width: 3px;
}

.contentTheme .handle-s, .handle-n {
    height: 3px;
}

.contentTheme .panelTheme .handle-se {
    /*-ms-transform:rotate(90deg); !* Internet Explorer *!
    -moz-transform:rotate(90deg); !* Firefox *!
    -webkit-transform:rotate(90deg); !* Safari 和 Chrome *!
    -o-transform:rotate(90deg); !* Opera *!*/
    /*background: url("/theme/theme_Beili01/images/themepanel_horn.png") no-repeat;*/
    bottom: -4px;
    right: -3px;
}

.contentTheme .panelTheme .handle-ne {
    -ms-transform: rotate(-90deg); /* Internet Explorer */
    -moz-transform: rotate(-90deg); /* Firefox */
    -webkit-transform: rotate(-90deg); /* Safari 和 Chrome */
    -o-transform: rotate(-90deg); /* Opera */
    top: -3px;
    right: -4px;
    z-index: -1;
}

.contentTheme .panelTheme .handle-sw {
    -ms-transform: rotate(90deg); /* Internet Explorer */
    -moz-transform: rotate(90deg); /* Firefox */
    -webkit-transform: rotate(90deg); /* Safari 和 Chrome */
    -o-transform: rotate(90deg); /* Opera */
    bottom: -3px;
    left: -4px;
}

.contentTheme .panelTheme .handle-nw {
    -ms-transform: rotate(180deg); /* Internet Explorer */
    -moz-transform: rotate(180deg); /* Firefox */
    -webkit-transform: rotate(180deg); /* Safari 和 Chrome */
    -o-transform: rotate(180deg); /* Opera */
    top: -4px;
    left: -3px;
}

.contentTheme .panelTheme .handle-n {
    /*margin-top: 15px;*/
}

.contentTheme .panelTheme .handle-ne, .handle-nw {
    /*margin-top:19px;*/
}

.contentTheme .flexTable tbody tr td .percentTheme span:nth-child(1) {
    background: #595e6f;
    /* border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;*/
    height: 15px;
}

.contentTheme .flexTable tbody tr td .percentTheme span:nth-child(2) {
    /*border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;*/
    height: 15px;
}

.contentTheme .flexTable tbody tr td .percentTheme span:nth-child(2) {
    background: none;
}

.contentTheme .flexTable tbody tr:nth-child(1) td .percentTheme span:nth-child(1) {
    background: #2489b0;
}

.contentTheme .flexTable tbody tr:nth-child(1) td .percentTheme span:nth-child(2) {
    background: #a7ceda
}

.contentTheme .flexTable tbody tr:nth-child(2) td .percentTheme span:nth-child(1) {
    background: #2489b0;
}

.contentTheme .flexTable tbody tr:nth-child(2) td .percentTheme span:nth-child(2) {
    background: #a7ceda;
}

.contentTheme .flexTable tbody tr:nth-child(3) td .percentTheme span:nth-child(1) {
    background: #2489b0;
}

.contentTheme .flexTable tbody tr:nth-child(3) td .percentTheme span:nth-child(2) {
    background: #a7ceda;
}

.contentTheme .flexTable tbody tr:nth-child(4) td .percentTheme span:nth-child(1) {
    background: #2489b0;
}

.contentTheme .flexTable tbody tr:nth-child(4) td .percentTheme span:nth-child(2) {
    background: #a7ceda;
}

.contentTheme .flexTable tbody tr:nth-child(5) td .percentTheme span:nth-child(1) {
    background: #2489b0;
}

.contentTheme .flexTable tbody tr:nth-child(5) td .percentTheme span:nth-child(2) {
    background: #a7ceda;
}

.contentTheme .table.flexTable {
    text-align: center;
}

.contentTheme .table.flexTable td {
    border: none;
    background: none;
}

.contentTheme .initialimize .table.flexTable td {
    font-size: 18px;
}

.contentTheme .maximize .table.flexTable td {
    font-size: 28px;
}

.contentTheme .flex_assetitle {
    text-align: center;
    color: #C2CED1;
    font-family: Microsoft YaHei;
    margin-bottom: 10px;
}

.contentTheme .initialimize .flex_assetitle {
    font-size: 18px;
}

.contentTheme .maximize .flex_assetitle {
    font-size: 28px;
}

.contentTheme .maximize .table.flexTable td {
    font-size: 28px;
}

.contentTheme .table.flexTable {
    background: none;
    color: #fff;
}

.contentTheme .flexTable .percentText {
    text-align: left;
}

.contentTheme .flexTable .percentLine {
    /*border-radius: 10px;*/
    /*border: 1px solid #2fcffc;*/
    height: auto;
    padding: 3px;
}

.contentTheme .themeRadius ul li {
    border-radius: 50%;
    padding: 8px;
}

.contentTheme .themeRadius ul li:nth-child(1) {
    border: 4px solid #dd3881;
}

.contentTheme .themeRadius ul li:nth-child(1) .radius-inside {
    background: #dd3881;
}

.contentTheme .themeRadius ul li:nth-child(2) {
    border: 4px solid #20b7b5;
}

.contentTheme .themeRadius ul li:nth-child(2) .radius-inside {
    background: #20b7b5;
}

.contentTheme .themeRadius ul li:nth-child(3) {
    border: 4px solid #6b56de;
}

.contentTheme .themeRadius ul li:nth-child(3) .radius-inside {
    background: #6b56de;
}

.contentTheme .themeRadius ul li:nth-child(4) {
    border: 4px solid #1f6fcd;
}

.contentTheme .themeRadius ul li:nth-child(4) .radius-inside {
    background: #1f6fcd;
}

.contentTheme .themeRadius ul li:nth-child(5) {
    border: 4px solid #ffd268;
}

.contentTheme .themeRadius ul li:nth-child(5) .radius-inside {
    background: #ffd268;
}

.contentTheme .panelTheme .borderStyleNone {
}

.contentTheme .panelTheme .borderStyleNone.box {
    background: none;
    border: 1px solid rgba(128, 200, 212, 0);
    border-radius: 0;
}

/*.contentTheme .panelTheme .borderStyleNone .handle-se, .handle-ne, .handle-sw, .handle-nw{
    border-bottom: none;
    border-right: none;
}*/
.contentTheme .panelTheme .borderStyleNone ~ .handle-se {
    border: none;
    background: none;
}

.contentTheme .panelTheme .borderStyleNone ~ .handle-ne {
    border: none;
    background: none;
}

.contentTheme .panelTheme .borderStyleNone ~ .handle-sw {
    border: none;
    background: none;
}

.contentTheme .panelTheme .borderStyleNone ~ .handle-nw {
    border: none;
    background: none;
}

.contentTheme .panelTheme .borderStyleNone:hover.box {
    border: 1px dashed #3a3d71;
}

.contentTheme .panelTheme .titleStyleNone .box-header > span {
    display: none;
}

.contentTheme .panelTheme .titleStyleNone .box-header {
    padding: 0px;
}

.contentTheme .panelTheme .titleStyleNone .box-header {
    border: none !important;
}

.contentTheme .panelTheme .flexTable {
    font-size: 22px;
    font-family: "Microsoft YaHei", 'Source Sans Pro', sans-serif;
}

.contentTheme .panelTheme .flexTable tbody {
    overflow-y: auto;
}

.contentTheme .panelTheme .box-header {
    font-family: "Microsoft YaHei", 'Source Sans Pro', sans-serif;
}

.contentTheme .themeTitle {
    font-size: 36px;
    color: #fff;
    text-align: center;
    font-family: "Microsoft YaHei", 'Source Sans Pro', sans-serif;
    background: url("images/title.png") no-repeat;
    background-position: center 0px;
    height: 80px;
    font-weight: bold;
    color: #8f9a9d;
    position: relative;
    /*background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0, 128, 0, 1)), to(rgba(51, 51, 51, 1)));*/
    /*background: -webkit-linear-gradient(left, red, blue);*/
    /*-webkie-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
}

.contentTheme .themeTitle[data-text]::after {
    text-align: center;
    content: attr(data-text);
    /*color: green;*/
    z-index: 2;
    /*-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), color-stop(50%, rgba(0,0,0,1)), to(rgba(0,0,0,0)));*/
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 1)));
}

/*.themeTitle[data-text]::after{*/
/*content: attr(data-text);*/
/*color: green;*/
/*position: absolute;*/
/*left:0;*/
/*z-index: 2;*/
/*-webkit-mask-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#000000), to(#f3f3f3));*/
/*}*/

.contentTheme .flexText {
    text-align: center;
    color: #fff;
    font-family: "Microsoft YaHei", 'Source Sans Pro', sans-serif;
    padding-top: 15px;
}

.contentTheme .flexText .flexText-title {
    font-size: 38px;
}

.contentTheme .flexText .flexText-title label {
    color: #7efdc9;
    font-size: 80px;
}

.contentTheme .flexText .flexText-body {
    font-size: 38px;
}

.contentTheme .themeRadius ul li {
    margin: 0px 50px;
}

.contentTheme .panelTheme .small-box p.text-aqua {
}

.contentTheme .panelTheme .small-box {
    height: 100%;
}

.contentTheme .panelTheme .small-box h3 {
    color: #2ef9d5;
}

.contentTheme .panelTheme .small-box i {
    color: #2ef9d5;
}

.contentTheme .panelTheme .small-box p {
    color: #2ef9d5;
}

.contentTheme .panelTheme .toolbar {
    display: none;
}

.contentTheme .panelTheme .tableView table {
    background: none;
    color: #fff;
    font-size: 22px;
}

.contentTheme .panelTheme .tableView table th {
    background: none;
    border: none;
    font-family: "Microsoft YaHei", 'Source Sans Pro', sans-serif;
    border: none;
}

.contentTheme .panelTheme.initialimize .tableView table th {
    font-size: 18px;
}

.contentTheme .panelTheme.maximize .tableView table th {
    font-size: 28px;
}

.contentTheme .panelTheme .tableView table td.data, .tableView table th {
    padding: 10px 0;
}

.contentTheme .panelTheme .tableView table td.data, .tableView table th.header_key {
    padding: 10px 0px;
}

.contentTheme .panelTheme .tableView table td {
    background: none;
    font-family: "Microsoft YaHei", 'Source Sans Pro', sans-serif;
    border: none;
    border: none;
}

.contentTheme .panelTheme.initialimize .tableView table td {
    font-size: 18px;
}

.contentTheme .panelTheme.maximize .tableView table td {
    font-size: 28px;
}

.contentTheme .panelTheme .tableView .table_drill_cell {
    color: #C2CED1;
}

.contentTheme .panelTheme .tableView .table_drill_cell:hover {
    color: #C2CED1;
}

.contentTheme .panelTheme .optionNum span {
    color: #fff;
}

.contentTheme .panelTheme .page ul li a {
    color: #fff;
}

.contentTheme .panelTheme .page ul li a {
    color: #505b72;
}

.contentTheme .panelTheme .page {
    width: 100%
}

.contentTheme .panelTheme table {
    background: none;
    color: #fff;
}

.contentTheme .panelTheme table thead tr th {
    background: none;
    color: #e4e2e2;
    font-family: "Microsoft YaHei", 'Source Sans Pro', sans-serif;
    border: none;
}

.contentTheme .panelTheme.initialimize table thead tr th {
    font-size: 18px;
}

.contentTheme .panelTheme.maximize table thead tr th {
    font-size: 28px;
}

.contentTheme .panelTheme table tbody tr td {
    background: none;
    color: #C2CED1;
    font-family: "Microsoft YaHei", 'Source Sans Pro', sans-serif;
    border: none;
}

.contentTheme .panelTheme.initialimize table tbody tr td {
    font-size: 18px;
}

.contentTheme .panelTheme.maximize table tbody tr td {
    font-size: 28px;
}

/*

.panelTheme table tbody {
    display: block;
    overflow: auto;
    height: 325px;
}

.panelTheme table thead tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}

.panelTheme table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
*/

.contentTheme .panelTheme table tr:nth-of-type(odd) {
    background-color: rgba(116, 147, 160, 0.15);
}

.contentTheme .panelTheme table tr:nth-of-type(even) {
    background-color: rgba(116, 147, 160, 0.08);
}

.contentTheme .panelTheme table td:nth-of-type(odd) {
    background-color: rgba(116, 147, 160, 0.1);
}

/*.contentTheme .panelTheme table td:nth-of-type(even) {
    background-color: rgba(28, 65, 119, 0.25);
}*/

.contentTheme .panelTheme div.dataTables_info {
    color: #C2CED1;
    font-size: 14px;
    font-family: "Microsoft YaHei", 'Source Sans Pro', sans-serif;
}

.contentTheme .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #505b72;
    background-color: #1f3348;
}

.contentTheme .pagination > li > a, .pagination > li > span, .pagination > li > a, .pagination > li > span {
    color: #505b72;
    background-color: rgba(28, 65, 119, 0.2);
}

.contentTheme .pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    background-color: #1f3348;
}

.contentTheme .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #3f5f8a;
    color: #fff;
}

.contentTheme .panelTheme .tableView table {
    border: none;
}

.contentTheme .panelTheme .optionNum {
    display: none;
}

.contentTheme .page ul li a.current {
    background-color: #3f5f8a;
    color: #fff;
}

.contentTheme .page ul li a {
    margin: 0px;
    padding: 9px 14px;
    font-size: 12px;
    font-weight: bold;
    width: auto;
    line-height: 17px;
    color: #505b72;
    background-color: rgba(28, 65, 119, 0.2);
    border: 1px solid #041221;
    float: left;
    margin-left: -1px;
}

.contentTheme .page ul li a.pageLink, .page ul li a.nextLink, .page ul li a.previewLink {
    border-radius: 0px;
    -webkit-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.contentTheme .page ul li a.pageLink:hover, .page ul li a.nextLink:hover, .page ul li a.previewLink:hover {
    color: #505b72;
    background-color: #1f3348;
    -webkit-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.contentTheme .page span.ellipse {
    margin: 0px;
    padding: 9px 14px;
    background-color: #1f3348;
    color: #b8b9be;
    line-height: 17px;
}

/*modal*/
.contentTheme .modal-dialog {
    font-size: 20px;
    background-color: #030c19;
    border: 2px solid rgba(5, 136, 136, 0.5);
    border-radius: 0px;
}

.contentTheme .modal-content {
    background: url("/theme/theme_Beili01/images/panel-bk-rpt.png") repeat;
    color: white;
    background: transparent;
}

.contentTheme .modal-header {
    padding-left: 0;
    background: url("/theme/theme_Beili01/images/panel-bk-rpt.png") repeat;
    border: none;
}

.contentTheme .modal-header .modal-title {
    font-style: normal;
    color: #c9cfd0;
    font-size: 28px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    margin: 0 auto;
    padding: 0px 10px;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0px;
    background: url("/theme/theme_Beili01/images/titleIcon.png") no-repeat;
    background-size: 48px;
    background-position: 25px -4px;
    padding-left: 64px;
}

.contentTheme .modal-footer {
    display: none;
}

/*
.nav-tabs{
    background-color: transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background-color: #283c5a;
    color: #fff;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #029095;
    border: 1px solid #029095;
    border-bottom-color: transparent;
    cursor: default;
}*/

.contentTheme .flex_article {
    color: #fff;
}

.contentTheme .flex_article h1 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-family: "Microsoft YaHei", 'Source Sans Pro', sans-serif;
    font-weight: normal;
}

.contentTheme .flex_article h2 {
    color: #fff;
    font-family: "Microsoft YaHei", 'Source Sans Pro', sans-serif;
    font-weight: normal;
}

.contentTheme .initialimize .flex_article h2 {
    font-size: 18px;
}

.contentTheme .maximize .flex_article h2 {
    font-size: 28px;
}

.contentTheme .flex_article p {
    line-height: 24px;
    font-family: "Microsoft YaHei", 'Source Sans Pro', sans-serif;
    font-size: 14px;
    text-indent: 2em;
}

.contentTheme .flex2-list ul li {
    font-size: 22px;
    color: #fff;
    font-family: "Microsoft YaHei", 'Source Sans Pro', sans-serif;
    list-style-type: none;
    padding: 0px;
    margin-bottom: 15px;
}

.contentTheme .flex2-list ul {
    list-style-type: none;
    padding: 0px;
}

/*==================================================================*/

.contentTheme .themeTitle_xs {
    border-bottom: 3px solid #6c6e6f;
    margin-top: 40px;
}

.contentTheme .themeTitle_xs span {
    display: block;
    float: left;
    position: relative;
    background: #285c8e;
    color: #fff;
    height: 40px;
    font-size: 26px;
    line-height: 40px;
    font-family: "Microsoft YaHei", 'Source Sans Pro', sans-serif;
    padding-left: 20px;
    letter-spacing: 5px;
}

.contentTheme .themeTitle_xs span:after {
    z-index: -999;
    transform: skewX(45deg);
    background-color: #285c8e;
    content: "";
    /* float: left; */
    height: 40px;
    width: 70px;
    display: block;
    /* margin-left: -45px; */
    position: absolute;
    top: 0;
    right: -40px;
}

.contentTheme .panelTheme .term .selectorText {
    color: #fff;
    font-size: 22px;
    font-family: "Microsoft YaHei", 'Source Sans Pro', sans-serif;
    line-height: 40px;
}

.contentTheme .panelTheme .term .form-group .btn {
    padding: 10px 13px;
    background-color: #0c2d43;
    color: #8595a0;
    border: none;
    margin-left: 1px;
}

.contentTheme .panelTheme .term .form-group .btn.btn-primary {
    background: #314f71;
}

.contentTheme .panelTheme .box-body div.ng-scope {
    display: inline-block;
}

.contentTheme .panelTheme .box-body div.ng-scope:after {
    display: block;
    clear: both;
    content: '';
}

.contentTheme .panelTheme .box-body div.ng-scope + div.ng-scope {
    margin-left: 10px;
}

.contentTheme .panelTheme .box-body div.ng-scope div.btn-group .ui-select-container div:first-child {
    height: auto;
}

.contentTheme .panelTheme .box-body div.ng-scope div.btn-group input {
    height: 34px;
    font-size: 20px;
    width: 100px;
    padding: 0px 10px;
}

.contentTheme .panelTheme .box-body div.ng-scope div.btn-group input.inputor {
    height: 38px;
    font-size: 20px;
    width: 100px;
    padding: 0px 10px;
    background: #0b2b41;
    border: 1px solid #3a5982;
    border-radius: 2px;
}

.ui-select-bootstrap > .ui-select-choices {
    background: #0b2b41;
    border: 1px solid #3a5982;
    border-radius: 2px;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
    color: #fff;
    margin-top: 3px;
}

.ui-select-bootstrap > .ui-select-choices .ui-select-choices-row span {
    color: #fff;
}

.ui-select-bootstrap > .ui-select-choices .ui-select-choices-row:hover > span {
    background: #314f71;
}

.ui-select-bootstrap > .ui-select-choices .ui-select-choices-row {
    margin-left: 0px !important;
}

.ui-select-bootstrap .ui-select-choices-row.active > span {
    background: #314f71;
}

.ui-select-multiple.ui-select-bootstrap {
    border: none;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
    margin: 0px;
    margin-top: -4px;
    margin-left: 4px !important;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 2px 5px !important;
    border: 1px solid #3a5982 !important;
    background-color: #314f71 !important;
    font-size: 15px !important;
}

.contentTheme .panelTheme .box-body .table > thead > tr > th {
    background-color: #f5f5f5;
    text-align: center;
    padding: 15px 30px 10px 30px;
    min-width: 100px;
    color: #444;
}

.contentTheme .panelTheme .box-body .table > tbody > tr > td.green,
.contentTheme .panelTheme .box-body .table > tbody > tr > td.blue {
    padding: 10px 25px;
}

.contentTheme .panelTheme .box-body .table > thead > tr > th,
.contentTheme .panelTheme .box-body .table > tbody > tr > td {
    /*border-right: 1px solid #ccc;*/
}

.contentTheme .panelTheme .box-body .table > tbody > tr > td {
    color: #fff;
}

.contentTheme .panelTheme .box-body .table > tbody > tr > td.green span {
    display: block;
    background-color: #81ddb7;
    padding: 2px 1px;
    border-radius: 5px;
    text-align: center;
}

.contentTheme .panelTheme .box-body .table > tbody > tr > td.blue span {
    display: block;
    background-color: #2489b0;
    color: #fff;
    padding: 2px 1px;
    border-radius: 5px;
    text-align: center;
}

.contentTheme .panelTheme .box-body .equipStatistics .equip-bk-img {
    width: 90px;
    height: 90px;
    background-image: url("images/equipIconBk.png");
    background-repeat: no-repeat;
    background-position: -94px -5px;
    margin: 0 auto;
}

.contentTheme .panelTheme.equipIcon_plane.equipIcon_color02 .box-body .equipStatistics .equip-bk-img {
    background-image: url("images/equipIconBk.png");
    background-repeat: no-repeat;
    background-position: -7px -5px;
}

.contentTheme .panelTheme.equipIcon_motor.equipIcon_color01 .box-body .equipStatistics .equip-bk-img {
    background-image: url("images/equipIconBk.png");
    background-repeat: no-repeat;
    background-position: -94px -86px;
}

.contentTheme .panelTheme.equipIcon_motor.equipIcon_color02 .box-body .equipStatistics .equip-bk-img {
    background-image: url("images/equipIconBk.png");
    background-repeat: no-repeat;
    background-position: -7px -86px;
}

.contentTheme .panelTheme .box-body .equipStatistics .equip-data {
    width: 100%
}

.contentTheme .panelTheme .box-body .equipStatistics .equip-data p {
    text-align: center;
    letter-spacing: 10px;
    color: #2489b0;
    font-weight: bold;
    margin-bottom: 47px;
    margin-top: 10px;
}

.contentTheme .panelTheme.initialimize .box-body .equipStatistics .equip-data p {
    font-size: 18px;
}

.contentTheme .panelTheme.maximize .box-body .equipStatistics .equip-data p {
    font-size: 28px;
}

.contentTheme .panelTheme.equipIcon_plane.equipIcon_color02 .equipStatistics .equip-data p,
.contentTheme .panelTheme.equipIcon_motor.equipIcon_color02 .equipStatistics .equip-data p {
    color: #fff;
}

.contentTheme .panelTheme .box-body .equipStatistics .equip-info {
    background-color: #5bc0de;
    width: 100%;
}

.contentTheme .panelTheme.equipIcon_plane.equipIcon_color02 .equipStatistics .equip-info,
.contentTheme .panelTheme.equipIcon_motor.equipIcon_color02 .equipStatistics .equip-info {
    background-color: #e5e5e5;
}

.contentTheme .panelTheme .box-body .equipStatistics .equip-info label {
    font-weight: normal;
    margin: 0;
    color: #fff;
    width: 49%;
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
    padding: 40px 0;
    line-height: 54px;
}

.contentTheme .panelTheme .box-body .equipStatistics .equip-info label:first-child {
    border-right: 1px solid #85d0e6;
}

.contentTheme .panelTheme.equipIcon_plane.equipIcon_color02 .equipStatistics .equip-info label,
.contentTheme .panelTheme.equipIcon_motor.equipIcon_color02 .equipStatistics .equip-info label {
    color: #222;
}

.contentTheme .panelTheme.equipIcon_plane.equipIcon_color02 .equipStatistics .equip-info label:first-child,
.contentTheme .panelTheme.equipIcon_motor.equipIcon_color02 .equipStatistics .equip-info label:first-child {
    border-right: 1px solid #a6a6a6;
}

.contentTheme .panelTheme .box-body .equipStatistics .equip-info label b {
    color: #222;
}

.contentTheme .ui-select-multiple.ui-select-bootstrap {
    height: auto;
    background: #0b2b41;
    border: 1px solid #3a5982;
}

.contentTheme .ui-select-multiple.ui-select-bootstrap input.ui-select-search {
    width: 100px !important;
}

.contentTheme ul {
    list-style: none;
    /*overflow: auto;*/
}

.contentTheme ul.statistics li:after {
    display: block;
    clear: both;
    content: '';
}

.contentTheme ul.statistics li div {
    float: left;
}

.contentTheme ul.statistics li div:first-child {
    width: 15%;
    font-size: 26px;
}

.contentTheme ul.statistics li div.second {
    width: 20%;
    float: left;
    font-size: 12px;
    padding-top: 3px;
    margin-left: 5px;
}

.contentTheme ul.statistics li div.progress {
    width: 60%;
    display: inline-block;
    margin: 0;
    border-radius: 10px;
    margin-top: 10px;
}

.contentTheme ul.statistics li div.progress span:first-child {
    display: inline-block;
    border-radius: 10px;
    background-color: #4298cc;
    height: 100%;
}

.contentTheme ul.statistics li div.progress span:last-child {
    display: inline-block;
    background-color: #dae1e8;
    height: 100%;
}

.contentTheme ul.office-list {
    text-align: center;
    font-size: 20px;
}

.contentTheme ul.office-list span.blue {
    color: #2489b0;
}

.contentTheme ul.active-content li {
    padding: 5px 0;
}

.contentTheme ul.active-content li span.allContent {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    overflow: hidden;
}

.contentTheme ul.active-content li span.littleContent {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.contentTheme ul.active-content li span i {
    margin-right: 5px;
}

.contentTheme .kpiSize01 .kpi h3 {
    font-size: 45px;
}

.contentTheme .kpiSize01 .kpi p {
    font-size: 30px;
}

.contentTheme .kpiSize01 .kpi .unit {
    font-size: 20px;
}

.contentTheme .kpiSize02 .kpi h3 {
    font-size: 36px;
}

.contentTheme .kpiSize02 .kpi p {
    font-size: 28px;
}

.contentTheme .kpiSize02 .kpi .unit {
    font-size: 20px;
}

.contentTheme .kpiSize03 .kpi h3 {
    font-size: 30px;
}

.contentTheme .kpiSize03 .kpi p {
    font-size: 25px;
}

.contentTheme .kpiSize03 .kpi .unit {
    font-size: 20px;
}

.contentTheme .kpi h3 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 45px;
}

.contentTheme .kpi p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}

.contentTheme .kpi .icon i {
    margin-right: 15px;
    margin-top: 55px;
}

.contentTheme .small-box h3 {
    margin-top: 0px;
}

.contentTheme .kpi .icon i {
    margin-top: 0px;
}

.contentTheme .kpi .unit {
    color: #c9cfd0;
    font-size: 20px;
}

.contentTheme .new-tab li {
    background-color: transparent;
}

.contentTheme .new-tab li a {
    color: #fff;
}

.contentTheme .new-tab li.active {
    background-color: rgba(17, 85, 127, 0.5);
}

.contentTheme .panelTheme .backgroundStyle01.box {
    background: -moz-linear-gradient(top, rgba(16, 61, 81, 0.38), rgba(0, 0, 0, 0)) !important;
    background: -webkit-linear-gradient(top, rgba(16, 61, 81, 0.38), rgba(0, 0, 0, 0)) !important;;
}

.contentTheme .emphasis-project .project-legend {
    color: #c9cfd0;
    padding: 0 20px;
    margin-bottom: 5px;
}

.contentTheme .emphasis-project .project-legend i {
    margin-right: 5px;
}

.contentTheme .emphasis-project .project-legend .text-red {
    color: rgb(166, 18, 18) !important;
}

.contentTheme .emphasis-project .project-legend .text-yellow {
    color: rgb(230, 152, 23) !important;
}

.contentTheme .emphasis-project .project-legend .text-green {
    color: rgb(14, 93, 45) !important;
}

.contentTheme .emphasis-project .project-legend .text-gray {
    color: rgb(103, 115, 122) !important;
}

.contentTheme .emphasis-project .project-legend .text-blue {
    color: rgb(27, 102, 134) !important;
}

.contentTheme .emphasis-project .table thead {
    background-color: rgba(28, 65, 119, 0.0980392);
}

.contentTheme .emphasis-project .table thead th {
    color: #e4e2e2 !important;
    background-color: transparent !important;
}

.contentTheme .emphasis-project label.progress {
    background-color: #d2d6de;
    display: block;
    border-radius: 10px;
    height: auto;
    margin: 0;
}

.contentTheme .emphasis-project label.progress span {
    display: inline-block;
    float: left;
    width: 25%;
    text-align: center;
}

.contentTheme .emphasis-project label.progress span.bg-red {
    background-color: rgb(166, 18, 18) !important;
}

.contentTheme .emphasis-project label.progress span.bg-yellow {
    background-color: rgb(230, 152, 23) !important;
}

.contentTheme .emphasis-project label.progress span.bg-green {
    background-color: rgb(14, 93, 45) !important;
}

.contentTheme .emphasis-project label.progress span.bg-gray {
    background-color: rgb(103, 115, 122) !important;
}

.contentTheme .emphasis-project label.progress span.bg-blue {
    background-color: rgb(27, 102, 134) !important;
}

.contentTheme .dynamicTitle {
    font-size: 28px;
    color: #fff;
    font-family: "Microsoft YaHei", 'Source Sans Pro', sans-serif;
}

.modalTheme .modal-content {
    background: url("/theme/theme_Beili01/images/dialog_bk.png") repeat;
}

.modalTheme.modal-dialog h1, .modalTheme.modal-dialog h2, .modalTheme.modal-dialog h3, .modalTheme.modal-dialog h4,
.modalTheme.modal-dialog h5, .modalTheme.modal-dialog h6, .modalTheme.modal-dialog p {
    color: #fff;
}

.contentTheme .ganttBtnGroup {
    margin-bottom: 10px;
}

.contentTheme .ganttBtnGroup > .btn {
    background-color: #0c2d43 !important;
    color: #8595a0;
    border: none;
    margin-left: 1px;
}

.contentTheme .gantt .gantt_container {
    background-color: rgba(28, 65, 119, 0.1) !important;
    border: 1px solid #3a5982;
}

.contentTheme .gantt .gantt_layout_cell_border_right {
    border-right: 1px solid #3a5982;
}

.contentTheme .gantt .gantt_grid_scale {
    background-color: rgba(28, 65, 119, 0.1) !important;
}

.contentTheme .gantt .gantt_row, .gantt_task_row {
    background-color: rgba(28, 65, 119, 0.1) !important;
}

.contentTheme .gantt .gantt_row:hover {
    background-color: #314f71 !important;
}

.contentTheme .gantt .gantt_task_row.gantt_selected {
    background-color: #314f71 !important;
}

.gantt_grid_data .gantt_row.gantt_selected, .gantt_grid_data .gantt_row.odd.gantt_selected {
    background-color: #314f71 !important;
}

.contentTheme .gantt .gantt_grid_data .gantt_cell {
    color: #e4e2e2;
    font-family: "Microsoft YaHei", 'Source Sans Pro', sans-serif;
}

.contentTheme .initialimize .gantt .gantt_grid_data .gantt_cell {
    font-size: 18px;
}

.contentTheme .maximize .gantt .gantt_grid_data .gantt_cell {
    font-size: 28px;
}

.contentTheme .gantt .gantt_grid_scale .gantt_grid_head_cell {
    color: #e4e2e2;
    font-family: "Microsoft YaHei", 'Source Sans Pro', sans-serif;
}

.contentTheme .initialimize .gantt .gantt_grid_scale .gantt_grid_head_cell {
    font-size: 18px;
}

.contentTheme .maximize .gantt .gantt_grid_scale .gantt_grid_head_cell {
    font-size: 28px;
}

.contentTheme .gantt .gantt_grid_scale, .gantt_task_scale {
    border-bottom: 1px solid #3a5982;
}

.contentTheme .gantt .gantt_task_row, .gantt_row {
    border-bottom: 1px solid #3a5982;
}

.contentTheme .gantt .gantt_task_cell {
    border-right: 1px solid #3a5982;
}

.contentTheme .gantt .gantt_task_scale {
    background-color: rgba(28, 65, 119, 0.1) !important;
}

.contentTheme .gantt .gantt_layout_cell_border_bottom {
    border-bottom: 1px solid #3a5982;
}

.contentTheme .gantt .gantt_task .gantt_task_scale .gantt_scale_cell {
    border-right: 1px solid #3a5982;
    font-family: "Microsoft YaHei", 'Source Sans Pro', sans-serif;
    color: #e4e2e2;
}

.contentTheme .initialimize .gantt .gantt_task .gantt_task_scale .gantt_scale_cell {
    font-size: 18px;
}

.contentTheme .maximize .gantt .gantt_task .gantt_task_scale .gantt_scale_cell {
    font-size: 28px;
}

.contentTheme .gantt .gantt_scale_line {
    border-top: 1px solid #3a5982;
}

.contentTheme .gantt .gantt_grid_head_cell {
    /*width: auto !important;*/
}

/*单独定制上下左右边框*/
/*noTopBorder*/
.contentTheme .panelTheme .noTopBorder.box {
    border-top: none;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.contentTheme .panelTheme .noTopBorder ~ .handle-ne {
    border: none !important;
    background: none !important;
}

.contentTheme .panelTheme .noTopBorder ~ .handle-nw {
    border: none !important;
    background: none !important;
}

/*noBottomBorder*/
.contentTheme .panelTheme .noBottomBorder.box {
    border-bottom: none;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.contentTheme .panelTheme .noBottomBorder ~ .handle-se {
    border: none !important;
    background: none !important;
}

.contentTheme .panelTheme .noBottomBorder ~ .handle-sw {
    border: none !important;
    background: none !important;
}

/*noLeftBorder*/
.contentTheme .panelTheme .noLeftBorder.box {
    border-left: none;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.contentTheme .panelTheme .noLeftBorder ~ .handle-sw {
    border: none !important;
    background: none !important;
}

.contentTheme .panelTheme .noLeftBorder ~ .handle-nw {
    border: none !important;
    background: none !important;
}

/*noRightBorder*/
.contentTheme .panelTheme .noRightBorder.box {
    border-right: none;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.contentTheme .panelTheme .noRightBorder ~ .handle-ne {
    border: none !important;
    background: none !important;
}

.contentTheme .panelTheme .noRightBorder ~ .handle-se {
    border: none !important;
    background: none !important;
}

.contentTheme .panelTheme .bg-releative {
    background: url("/theme/theme_Beili01/images/warning.png") no-repeat center center;
}

.contentTheme .panelTheme .bg-releative2 {
    background: url("/theme/theme_Beili01/images/warining_yellow.png") no-repeat center center;
}

/*exceTop01*/
.contentTheme .panelTheme .exceTop01.box {
    padding-top: 9px;
}

/*exceBottom01*/
.contentTheme .panelTheme .exceBottom01.box {
    padding-bottom: 9px;
}

/*exceLeft01*/
.contentTheme .panelTheme .exceLeft01.box {
    padding-left: 9px;
}

.contentTheme .panelTheme .exceLeft01.box .box-header {
    margin-left: -9px;
}

/*exceRight01*/
.contentTheme .panelTheme .exceRight01.box {
    padding-right: 9px;
}

.contentTheme .panelTheme .exceRight01.box .box-header {
    margin-right: -9px;
}

.contentTheme .maximize > .box {
    padding: 0px !important;
    border: 1px solid rgba(83, 93, 118, 1) !important;
}

.contentTheme .maximize > .exceLeft01.box > .box-header .box-header-btns {
    right: 20px;
}

.contentTheme .maximize > .exceRight01.box > .box-header {
    margin-right: 0px;
}

.contentTheme .maximize > .exceLeft01.box > .box-header {
    margin-left: 0px;
}

/*newKpi*/
.contentTheme .panelTheme .beili2_Kpi ul li .beili2_Kpi_text {
    float: left;
    width: 40%;
    text-align: right;
    border-right: 2px solid #fff;
    padding-right: 10px;
}

.contentTheme .panelTheme .beili2_Kpi ul li .beili2_Kpi_text .beili2_Kpi_text_big {
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    font-family: "Microsoft YaHei", 'Source Sans Pro', sans-serif;
    line-height: 26px;
    margin-bottom: 3px;
}

.contentTheme .panelTheme .beili2_Kpi ul li .beili2_Kpi_text .beili2_Kpi_text_small {
    font-size: 13px;
    color: #fff;
    font-family: "Microsoft YaHei", 'Source Sans Pro', sans-serif;
}

.contentTheme .panelTheme .beili2_Kpi ul li .beili2_Kpi_value {
    line-height: 46px;
    float: right;
    width: 60%;
    text-align: left;
    font-size: 40px;
    font-family: "Microsoft YaHei", 'Source Sans Pro', sans-serif;
    font-weight: bold;
    padding-left: 10px;
}

.contentTheme .panelTheme .beili2_Kpi ul li .beili2_Kpi_value.yellow {
    color: #ed9145;
}

.contentTheme .panelTheme .beili2_Kpi ul li .beili2_Kpi_value.blue {
    color: #28c7e3;
}

.contentTheme .panelTheme .beili2_Kpi ul li {
    overflow: hidden;
    height: 46px;
    margin: 30px 0px;
}

.contentTheme .panelTheme .beili2_Kpi ul {
    padding: 0px;
    margin: 0px;
}

/*垂直居中*/
.contentTheme .panelTheme .beili2_Kpi {
    display: flex !important;
    flex-direction: column;
    height: 100%;
}

.contentTheme .panelTheme .beili2_Kpi:before {
    flex: 1;
    content: ' ';
}

.contentTheme .panelTheme .beili2_Kpi:after {
    flex: 1;
    content: ' ';
}

/*css3动画圆圈自动放大缩小效果
animation: pulse 0.6s infinite alternate;
-webkit-animation:  pulse 0.6s infinite alternate;*/

.contentTheme .panelTheme > .box.national_flag_title > .box-header {
    background: url("/theme/theme_Beili01/images/national_flag_title.png") no-repeat right center;
}


/*新kpi*/
.contentTheme .flex_indexStatistics{
    display: flex !important;
    flex-direction: column;
    height: 100%;
}

.contentTheme .flex_indexStatistics:before {
    flex: 1;
    content: ' ';
}

.contentTheme .flex_indexStatistics:after {
    flex: 1;
    content: ' ';
}

.contentTheme .flex_indexStatistics ul{
    padding: 0px;
    display: inline-table;
    margin: 0 auto;
}

.contentTheme .flex_indexStatistics ul li{
    float: left;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0px 11px;
}

.contentTheme .flex_indexStatistics ul li:nth-child(1){
    border:2px solid #28e8f4;
}

.contentTheme .flex_indexStatistics ul li:nth-child(2){
    border:2px solid #d9008c;
}

.contentTheme .flex_indexStatistics ul li:nth-child(3){
    border:2px solid #8a45cd;
}

.contentTheme .flex_indexStatistics ul li:nth-child(1) h6{
    background: #28e8f4;
}

.contentTheme .flex_indexStatistics ul li:nth-child(2) h6{
    background: #d9008c;
}

.contentTheme .flex_indexStatistics ul li:nth-child(3) h6{
    background: #8a45cd;
}

.contentTheme .flex_indexStatistics ul li h6{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
}

.contentTheme .flex_indexStatistics ul li label{
    display: block;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.contentTheme .flex_indexStatistics ul li span{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.contentTheme .flex_indexStatistics ul li:before{
    height: 55px;
    width: 2px;
    background: #49d9fe;
}

.contentTheme .flex_indexStatistics ul li h6{
    display: flex !important;
    flex-direction: column;
}

.contentTheme .flex_indexStatistics ul li h6:before {
    flex: 1;
    content: ' ';
}

.contentTheme .flex_indexStatistics ul li h6:after {
    flex: 1;
    content: ' ';
}