<div class="col-md-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs"><!-- 'tabs-right' for right tabs -->
        <li class="active"><a href="tabs.html#ext" data-toggle="tab">{{'NV.EXPLORE.EXT'|translate}}</a></li>
    </ul>
</div>
<div class="col-md-12">
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="ext">
            <form class="form-horizontal form-index">
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{'CONFIG.WIDGET.STYLE'|translate}}</label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-model="curWidget.config.values[0].style"
                                ng-options="s.value as s.name for s in heatmap_styles"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{'CONFIG.WIDGET.DATE_FORMAT'|translate}}</label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-model="curWidget.config.values[0].dateFormat"
                                ng-options="s.value as s.name for s in heatmap_date_format"></select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


