<div class="col-md-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs"><!-- 'tabs-right' for right tabs -->
        <li class="active"><a href="tabs.html#describe" data-toggle="tab">描述</a></li>
        <!--<li><a href="tabs.html#tootip" data-toggle="tab">tootip</a></li>-->
    </ul>
</div>
<div class="col-md-12">
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="describe">
            <form class="form-horizontal form-index">
                <div class="row">
                    <div class="form-group col-md-12">
                        <textarea ng-model="curWidget.config.option.describe" class="chartDescribe form-control" placeholder="请输入对图表的描述" style="min-height: 100px;"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="tootip">
            <form class="form-horizontal form-index">
                <div class="row">
                    <div class="col-md-2">
                        变量
                    </div>
                    <div class="col-md-5">
                        别名
                    </div>
                    <div class="col-md-1">
                        显示
                    </div>
                    <div class="col-md-4">
                        格式化
                    </div>
                </div>
                <div class="row" ng-repeat="(index, item) in curWidget.config.keys">
                    <div class="col-md-2">
                        {{item.col}}
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="curWidget.config.option.tooltip[item.col].col" class="form-control"/>
                    </div>
                    <div class="col-md-1" ng-init="(curWidget.config.option.tooltip[item.col].isShow == undefined)?curWidget.config.option.tooltip[item.col].isShow=true:''">
                        <input type="checkbox" ng-model="curWidget.config.option.tooltip[item.col].isShow"/>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="curWidget.config.option.tooltip[item.col].formatter" class="form-control" />
                    </div>
                </div>
                <div class="row" ng-repeat="(index, items) in curWidget.config.values">
                    <div class="row" ng-repeat="(index, item) in items">
                        <div ng-if="item[0].col != undefined">
                            <div class="col-md-2">
                                {{item[0].col}}
                            </div>
                            <div class="col-md-5">
                                <input type="text" ng-model="curWidget.config.option.tooltipTarget[item[0].col].col" class="form-control" />
                            </div>
                            <div class="col-md-1" ng-init="(curWidget.config.option.tooltipTarget[item[0].col].isShow == undefined)?curWidget.config.option.tooltipTarget[item[0].col].isShow=true:''">
                                <input type="checkbox" ng-model="curWidget.config.option.tooltipTarget[item[0].col].isShow"/>
                            </div>
                            <div class="col-md-4">
                                <input type="text" ng-model="curWidget.config.option.tooltipTarget[item[0].col].formatter"  class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-repeat="(index, item) in curWidget.config.groups">
                    <div class="col-md-2">
                        {{item.col}}
                    </div>
                    <div class="col-md-5">
                        <input type="text" ng-model="curWidget.config.option.tooltipGroups[item.col].col" class="form-control" />
                    </div>
                    <div class="col-md-1" ng-init="(curWidget.config.option.tooltipGroups[item.col].isShow == undefined)?curWidget.config.option.tooltipGroups[item.col].isShow=true:''">
                        <input type="checkbox" ng-model="curWidget.config.option.tooltipGroups[item.col].isShow"/>
                    </div>
                    <div class="col-md-4">
                        <input type="text" ng-model="curWidget.config.option.tooltipGroups[item.col].formatter"  class="form-control"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>