<div class="col-md-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs"><!-- 'tabs-right' for right tabs -->
        <li class="active"><a href="tabs.html#select" data-toggle="tab">选项</a></li>
        <li><a href="tabs.html#option" data-toggle="tab">配置</a></li>
        <li><a href="tabs.html#describe" data-toggle="tab">描述</a></li>
        <li><a href="tabs.html#advance" data-toggle="tab">高级功能</a></li>
        <li><a href="tabs.html#code" data-toggle="tab">code</a></li>
        <li><a href="tabs.html#tooltip" data-toggle="tab">tooltip</a></li>
    </ul>
</div>
<div class="col-md-12">
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="select">
            <table style="background-color: transparent">
                <tbody>
                <tr>
                    <td>是否显示分页</td>
                    <td><input ng-model="curWidget.config.option.isPagenation" type="checkbox"/></td>
                </tr>
                <tr ng-if="curWidget.config.option.isPagenation">
                    <td>每页显示条数</td>
                    <td><input ng-model="curWidget.config.option.pageDataNum" type="number"/></td>
                </tr>
                <tr>
                    <td>是否排序</td>
                    <td><input ng-model="curWidget.config.option.isSort" type="checkbox"/></td>
                </tr>
                <tr>
                    <td>是否总计</td>
                    <td><input ng-model="curWidget.config.option.total" type="checkbox"/></td>
                </tr>
                <tr>
                    <td>是否组内排序</td>
                    <td><input ng-model="curWidget.config.option.groupSort" type="checkbox"/></td>
                </tr>
                <tr>
                    <td>不选择指标作为表头</td>
                    <td><input ng-model="curWidget.config.option.isValueTh" type="checkbox"/></td>
                </tr>
                <tr>
                    <td>设置指标最前</td>
                    <td><input ng-model="curWidget.config.option.foremost" type="text" class="form-control"/></td>
                </tr>
                <tr>
                    <td>是否复杂表头</td>
                    <td><input ng-model="curWidget.config.option.isTh" type="checkbox"/></td>
                </tr>
                <tr>
                    <td title="同名合并会打乱指标的排序功能">禁止同名合并</td>
                    <td><input ng-model="curWidget.config.option.stopMerge" type="checkbox"/></td>
                </tr>
                <tr title="大区固定排序">
                    <td>大区排序</td>
                    <td><input ng-model="curWidget.config.option.isDqSort" type="checkbox"/></td>
                </tr>
                <tr title="大区排序顺序" ng-if="curWidget.config.option.isDqSort">
                    <td>大区所在位置</td>
                    <td><input ng-model="curWidget.config.option.dqIndex" type="text"/></td>
                </tr>
                <tr title="大区排序顺序" ng-if="curWidget.config.option.isDqSort">
                    <td>大区固定排序</td>
                    <td><input ng-model="curWidget.config.option.dqSorting" type="text"/></td>
                </tr>
                <tr title="区域固定排序">
                    <td>区域排序</td>
                    <td><input ng-model="curWidget.config.option.isQySort" type="checkbox"/></td>
                </tr>
                <tr title="区域排序顺序" ng-if="curWidget.config.option.isDqSort">
                    <td>区域所在位置</td>
                    <td><input ng-model="curWidget.config.option.qyIndex" type="text"/></td>
                </tr>
                <tr title="区域排序顺序" ng-if="curWidget.config.option.isQySort">
                    <td>区域固定排序</td>
                    <td><input ng-model="curWidget.config.option.qySorting" type="text"/></td>
                </tr>
                <tr>
                    <!--此选项可以使"当上下两格内容相同时隐藏下格内容"的功能失效-->
                    <td>显示所有内容</td>
                    <td><input ng-model="curWidget.config.option.showAllContent" type="checkbox" class="checkbox"/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="option">
            <table style="background-color: transparent">
                <thead>
                <tr>
                    <th>表头名称</th>
                    <th>宽度设置</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ktd in curWidget.config.keys">
                    <td>{{ktd.col}}</td>
                    <td><input type="text" ng-model="ktd.width" class="form-control"/></td>
                </tr>
                <tr ng-repeat="gtd in curWidget.config.groups">
                    <td>{{gtd.col}}</td>
                    <td><input type="text" ng-model="gtd.width" class="form-control"/></td>
                </tr>
                <tr ng-repeat="vtd in curWidget.config.values[0].cols">
                    <td>{{vtd.col}}</td>
                    <td><input type="text" ng-model="vtd.width" class="form-control"/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="describe">
            <form class="form-horizontal form-index">
                <div class="row">
                    <div class="form-group col-md-12">
                        <textarea ng-model="curWidget.config.option.describe" class="form-control chartDescribe"
                                  placeholder="请输入对图表的描述" style="min-height: 100px;"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="advance">
            <ng-include src="'src/view/nv/chart/options/common/advance.html'"></ng-include>
        </div>
        <div class="tab-pane" id="code">
            <div style="width: 100%; height: 100px;" id="optionEdit" ui-ace="{
            mode: 'javascript',
            rendererOptions: {
              fontSize: '14px',
              maxLines: 100,
              minLines: 20
            }
          }" ng-model="curWidget.config.option.optionCode" class="form-control"></div>
        </div>
        <div class="tab-pane" id="tooltip">
            <div style="width: 100%; height: 100px;" id="tooltipEdit" ui-ace="{
            mode: 'javascript',
            rendererOptions: {
              fontSize: '14px',
              maxLines: 100,
              minLines: 20
            }
          }" ng-model="curWidget.config.option.tooltipCode" class="form-control"></div>
        </div>
    </div>
</div>

