<!-- Content Wrapper. Contains page content -->
<div id="inner-container" class="content">
    <div class="people-list ng-scope">
        <div class="people-options">
            <form class="ng-pristine ng-valid">
                <div class="clearfix">
                    <button type="button" class="btn btn-success" ng-click="newDs()"><i
                            class="fa fa-plus"></i> 新建数据源
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-database"></i> {{'CONFIG.DATA_SOURCE.DATA_SOURCE_HEADER'|translate}}</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills nav-stacked">
                                <li ng-repeat="o in datasourceList">
                                    <a>
                                        {{o.name}}
                                        <span class="pull-right text-red">
                                            <i class="fa fa-copy" style="cursor: pointer" ng-click="copyDs(o)" title="{{'COMMON.COPY'|translate}}"></i>&nbsp;
                                            <i class="fa fa-edit" style="cursor: pointer" ng-click="editDs(o)" title="{{'COMMON.EDIT'|translate}}"></i>&nbsp;
                                            <i class="fa fa-trash-o" style="cursor: pointer" ng-click="deleteDs(o)" title="{{'COMMON.DELETE'|translate}}"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </form>
                    <!-- /.box-body -->
                    <div class="box-footer">
                    </div>
                    <!-- /.box-footer-->
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="box" ng-show="optFlag == 'new' || optFlag == 'edit'">
                <div class="box-header with-border">
                    <h3 class="box-title">{{curDatasource.name}}</h3>
                </div>
                <div class="box-body">
                    <div ng-show="optFlag == 'new'"
                         ng-include="'src/view/config/datasource/new.html'"></div>
                    <div ng-show="optFlag == 'edit'"
                         ng-include="'src/view/config/datasource/edit.html'"></div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                </div>
                <!-- /.box-footer-->
            </div>
        </div>
    </div>
</div>

</div>
