<div class="form-group form-inline">
    <label class="control-label col-sm-3">维度名</label>
    <div class="col-sm-9">
        <input ng-model="curWidget.config.option.itemStyle.seriesName" class="form-control"/>
    </div>
</div>
<div class="form-group form-inline">
    <label class="control-label col-sm-3">指标名</label>
    <div class="col-sm-9">
        <input ng-model="curWidget.config.option.itemStyle.dataName" class="form-control"/>
    </div>
</div>
<div class="form-group form-inline">
    <label class="control-label col-sm-3">颜色</label>
    <div class="col-sm-9">
        <input ng-model="curWidget.config.option.itemStyle.color" placeholder="颜色：如(#000000)"
               class="form-control"/>
    </div>
</div>