<!--<div ng-include="'src/view/config/chart/template/config.html'"></div>-->
<style>
    .widgetTable tr > td:first-child {
        padding-top: 8px;
    }
</style>
<div class="form-group">
    <!--<label class="col-sm-2 control-label">{{'CONFIG.WIDGET.VALUE_AXIS'|translate}}</label>-->
    <div class="col-sm-12">
        <table class="widgetTable">
            <tbody>
            <!--<tr style="height:2px"><td></td><td></td></tr>-->
            <tr ng-repeat="(index,v) in curWidget.config.values">
                <td ng-switch="index">
                    <div ng-switch-when="0">{{'CONFIG.WIDGET.VALUE'|translate}}</div>
                    <div ng-switch-when="1">{{'CONFIG.WIDGET.STYLE_COLOR'|translate}}</div>
                </td>
                <td style="padding:3px">
                    <div dnd-list="v.cols" dnd-inserted="dndTransfer.toCol(v.cols,index,item,type)"
                         dnd-allowed-types="['measure','select','col','exp','computed']"
                         dnd-drop="v.cols.length == 0 ? item:false"
                         style="width: 100%; height: 35px;border:1px solid #bdc3d1;border-radius: 2px">
                        <div class="dndPlaceholder sort-highlight"
                             style="height: 24px; width: 93px;margin: 3px 3px;display: inline-block;vertical-align: middle;">
                        </div>
                        <div ng-repeat="o in v.cols" dnd-draggable="o" dnd-type="o.type=='exp'?'exp':'col'"
                             dnd-effect-allowed="move"
                             dnd-moved="v.cols.splice($index, 1)" class="btn-group" style="margin: 3px 3px;">
                            <ng-switch on="o.type">
                                <div ng-switch-when="exp" class="btn-group">
                                    <button type="button" class="btn btn-primary btn-sm" style="cursor: move;"
                                            ng-click="v.cols.splice($index, 1);">
                                        {{o.alias}}
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                            ng-click="editSort(o);cleanRowSort(o);">
                                        <span class="fa"
                                              ng-class="{undefined:'fa-sort','asc':'fa-sort-asc','desc':'fa-sort-desc'}[o.sort]"></span>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="fa fa-edit"></span>
                                    </button>
                                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                        <li ng-if="!isDsExpression(o)">
                                            <a href="javascript:void(0)" ng-click="editExp(o)">{{'COMMON.EDIT'|translate}}</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"
                                               ng-click="editVFilter(o)">{{'CONFIG.WIDGET.FILTER'|translate}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div ng-switch-default class="btn-group">
                                    <button type="button"
                                            ng-click="v.cols.splice($index, 1);"
                                            class="btn btn-default btn-sm" style="cursor: move;">
                                        {{'['+o.aggregate_type+']'+(o.alias?o.alias:o.col)}}
                                        <!--{{o.aggregate_type+'('+o.col+')'+ (o.alias?(' -> '+o.alias):'')}}-->
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                                            ng-click="editSort(o);cleanRowSort(o);">
                                        <span class="fa"
                                              ng-class="{undefined:'fa-sort','asc':'fa-sort-asc','desc':'fa-sort-desc'}[o.sort]"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="fa fa-edit"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><input class="form-control" ng-model="o.alias"
                                                   placeholder="{{'CONFIG.WIDGET.ALIAS'|translate}}"></li>
                                        <li ng-repeat="a in value_aggregate_types">
                                            <a ng-click="o.aggregate_type=a.value" ng-style="{color:o.aggregate_type==a.value?'blue':null}">{{a.name}}</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"
                                               ng-click="editVFilter(o)">{{'CONFIG.WIDGET.FILTER'|translate}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </ng-switch>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
