<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true">×</span></button>
    <h4 class="modal-title">设置</h4>
</div>
<div class="modal-body">
    <div class="row">
    <div style="width:50%;float:left">
        <h4>图表</h4>
        <div style="width: 100%; height: 300px;" id="copyWidget" ui-ace="{
        mode: 'javascript',
        rendererOptions: {
          fontSize: '14px',
          maxLines: 10,
          minLines: 5
        }
      }" ng-model="widget" class="form-control"></div>
    </div>
    <div style="width:50%;float:left">
        <h4>其他</h4>
        <div style="width: 100%; height: 300px;" id="copyRow" ui-ace="{
        mode: 'javascript',
        rendererOptions: {
          fontSize: '14px',
          maxLines: 10,
          minLines: 5
        }
      }" ng-model="row" class="form-control"></div>
    </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">{{'COMMON.OK'|translate}}</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">{{'COMMON.CANCEL'|translate}}</button>
</div>
