<button class="btn btn-primary btn-sm" ng-click="goBackAll()"
        ng-show="role&&screenHistory.length>0&&role=='left'" style="display:none;position:absolute;top:20px;left:20px;">
    全局返回
</button>

<!--<h1 style="color:white">{{screenHistory}}</h1>-->

<!--<link rel="stylesheet" type="text/css"-->
<!--ng-if="board.config&&board.config.theme"-->
<!--ng-href="/theme/{{board.config.theme}}/style.css">-->

<!--<script type="text/javascript"-->
<!--ng-if="board.config&&board.config.theme"-->
<!--ng-src="/theme/{{board.config.theme}}/chartOption.js"></script>-->
<!--<script type="text/javascript"-->
<!--ng-if="board.config&&board.config.theme"-->
<!--ng-src="'/theme/'+board.config.theme+'/chartOption.js'"></script>-->
<section class="content-header preview-hide">
    <h1>
        <!--<div ng-show="loading"><i class="fa fa-spinner fa-spin"></i> {{"COMMON.LOADING" | translate}}</div>-->
        {{board.name}}
        <!--<h1 style="line-height:50px;margin-top:50px">{{stateParams}}</h1>-->
        <!--<h1 style="line-height:50px;color:#09f1f1">{{globalParamTitle}}</h1>-->
        <small ng-show="globalParamTitle">[{{globalParamTitle}}]</small>
    </h1>
    <div ng-if="!isPreview" style="margin-top:30px">{{paramsFun()}}</div>
    <!--<h1>{{globalParamTitle}}</h1>-->
    <div class="breadcrumb" style="cursor: pointer">
        <!--<div>-->
        <div style="display: inline-block" ng-click="pasteWidgetModelOpen()">
            <button class="btn btn-primary btn-sm">
                <i class="fa fa-clipboard"></i> 粘贴图表
            </button>
        </div>
        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-filter"></i> {{"COMMON.PARAM" | translate}}
            <span class="fa fa-caret-down"></span>
        </button>
        <ul class="dropdown-menu" style="position: relative">
            <li ng-repeat="p in boardParams">
                <a ng-click="applyBoardParam(p.params)">
                    {{p.name}}
                    <span class="pull-right" ng-click="deleteBoardParam($index);">
                        <i class="fa fa-trash-o"></i>
                        </span>
                </a>
            </li>
            <li>
                {{"COMMON.SAVE_AS" | translate}}&nbsp;
                <input style="min-width: 120px" ng-model="newBoardParamName"
                       ng-keypress="($event.which === 13)?newBoardParam(newBoardParamName):0">

            </li>
        </ul>
        <!--</div>-->
        <!--<div style="display: inline-block" ng-click="load(true)">-->
        <!--{{history}}{{stateParams}}-->
        <!--{{stateParams.param}}-->
        <div style="display: inline-block" ng-if="history.length" ng-click="goBack()">
            <button class="btn btn-primary btn-sm">
                <span><i class="fa fa-back"></i>&nbsp;返回</span>
            </button>
        </div>
        <div style="display: inline-block" ng-click="clearParams()">
            <button class="btn btn-primary btn-sm">
                <span><i class="fa fa-refresh"></i>&nbsp;{{"COMMON.REFRESH" | translate}}</span>
            </button>
        </div>
        <div style="display: inline-block" ng-click="addWidgetModelOpen()">
            <button class="btn btn-primary btn-sm">
                <i class="fa fa-plus"></i> 添加图表
            </button>
        </div>
        <div class="dropdown" style="display: inline-block" ng-if="isAdmin">
            <button class="btn btn-primary btn-sm" type="button" id="dropdownMenu1" data-toggle="dropdown">
                <i class="fa fa-dashboard"></i> 高级功能
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation" ng-click="addParamWidget()"><a role="menuitem" tabindex="-1"><i
                        class="fa fa-plus"></i> 条件组</a></li>
                <li role="presentation" ng-click="addIframeWidget()"><a role="menuitem" tabindex="-1"><i
                        class="fa fa-plus"></i> iframe</a></li>
                <li role="presentation" ng-click="addImgWidget()"><a role="menuitem" tabindex="-1"><i
                        class="fa fa-plus"></i> 图片</a></li>
                <li role="presentation" ng-click="addTab()"><a role="menuitem" tabindex="-1"><i class="fa fa-plus"></i>
                    Tab</a></li>
                <li role="presentation" ng-click="addTabGroupWidget()"><a role="menuitem" tabindex="-1"><i
                        class="fa fa-plus"></i> Tab组</a></li>
                <li role="presentation" ng-click="addDynamicTitle()"><a role="menuitem" tabindex="-1"><i
                        class="fa fa-plus"></i> 动态标题</a></li>
                <li role="presentation" ng-click="addStaticText()"><a role="menuitem" tabindex="-1"><i
                        class="fa fa-plus"></i> 静态文本</a></li>
                <li role="presentation" ng-click="addTimePicker()"><a role="menuitem" tabindex="-1"><i
                        class="fa fa-plus"></i>
                    时间选择器</a></li>
                <li role="presentation" ng-click="addCols()"><a role="menuitem" tabindex="-1"><i class="fa fa-plus"></i>
                    自定义下拉框</a></li>
                <li role="presentation" ng-click="addInput()"><a role="menuitem" tabindex="-1"><i
                        class="fa fa-plus"></i>
                    自定义输入框</a></li>
                <li role="presentation" ng-click="addCustomButton()"><a role="menuitem" tabindex="-1"><i
                        class="fa fa-plus"></i>
                    自定义按钮</a></li>
                <li role="presentation" ng-click="addButton()"><a role="menuitem" tabindex="-1"><i
                        class="fa fa-plus"></i>
                    查询按钮</a></li>
                <li role="presentation" ng-click="addCapsule()"><a role="menuitem" tabindex="-1"><i class="fa fa-plus"></i>
                    胶囊按钮</a></li>
                <li role="presentation" ng-click="addFlex()"><a role="menuitem" tabindex="-1"><i class="fa fa-plus"></i>
                    FLEX</a></li>
            </ul>
        </div>
        <!--<div style="display: inline-block" ng-click="addParamWidget()">
                <button class="btn btn-primary btn-sm">
                    <i class="fa fa-plus"></i> 条件组
                </button>
            </div>
            <div style="display: inline-block" ng-click="addIframeWidget()">
                <button class="btn btn-primary btn-sm">
                    <i class="fa fa-plus"></i> iframe
                </button>
            </div>
            <div style="display: inline-block" ng-click="addImgWidget()">
                <button class="btn btn-primary btn-sm">
                    <i class="fa fa-plus"></i> 图片
                </button>
            </div>
            <div style="display: inline-block" ng-click="addTab()">
                <button class="btn btn-primary btn-sm">
                    <i class="fa fa-plus"></i> Tab
                </button>
            </div>-->
        <div style="display: inline-block" ng-click="boardConfigModelOption()">
            <button class="btn btn-primary btn-sm">
                <i class="glyphicon glyphicon-cog"></i> 设置
            </button>
        </div>
        <div style="display: inline-block" ng-click="save()">
            <button class="btn btn-success btn-sm">
                <i class="fa fa-save"></i>
                {{"COMMON.SAVE"|translate}}
            </button>
        </div>
    </div>
</section>
<!--<div>-->
<!-- <a class="pull-right btn btn-warning" ng-click="clear()"><i class="glyphicon glyphicon-add"></i> Clear</a>-->
<!--<a class="pull-right btn btn-primary ml5" ng-click="editParam()"><i class="fa fa-save"></i> 设置条件</a>-->
<!--<a class="pull-right btn btn-success ml5" ng-click="test()"><i class="fa fa-plus"></i>-->
<!--{{"CONFIG.WIDGET.ADD"|translate}}-->
<!--test-->
<!--</a>-->
<!--<h1 class="data_title">{{board.name}}</h1>-->
<!--</div>-->
<!--{{widgetFilters}}-->
<!--<br>-->
<!--{{datasetFilters}}-->
<hr class="darken preview-hide">
<ul class="nav nav-tabs preview-hide" ng-if="tabs.length>1">
    <li ng-class="{active:curTab.id == tab.id}" ng-repeat="tab in tabs" ng-click="goToTab(tab)">
        <a data-toggle="tab">
            <strong>{{tab.name}}</strong>
            <i class="fa fa-pencil" ng-click="changeTabName(tab)"></i>
            <i class="fa fa-trash-o" ng-click="deleteTab($index)"></i>
        </a>
    </li>
</ul>
<div ng-if="deadline" style="display:none;text-align: right; position: absolute;right: 40px;line-height: 30px;">数据截止日期:{{deadline}}</div>
<div gridster="gridsterOptions" ng-init="addSignLine()" class="addSignLine">
    <button class="pull-right btn"
            ng-if="board.config.hasAlert"
            ng-click="getAlertInfo()"
            style="z-index: 1000; background-color: transparent; font-size: 22px;color: #f6dc70;position: absolute;right: -8px;top: -12px;">
        <i class="fa fa-lightbulb-o"></i>
    </button>
    <!--<div ng-repeat="row in board.layout.rows|filter:{type:'widget'}">-->
    <div ng-repeat="row in board.layout.rows track by $index">
        <!--flex-->
        <div ng-if="row.type=='board'&&(row.tab.id==curTab.id||row.tab.id==true)&&row.sign=='flex'"
             gridster-item="row" class="panelTheme initialimize topIndex pd-0"
             ng-class="{'{{row.config.customClass?row.config.customClass: ''}}': true}">
            <div class="box box-solid borderStyleNone titleStyleNone" ng-controller="CustomWidgetCtrl"
                 ng-class="{true: {{row.theme.classes?row.theme.classes: []}},
                         'titleStyleNone': row.config.noTitle, 'borderStyleNone': row.config.noBorder}">
                <div class="box-header with-border">
                    <span>
                        <div class="horn-left"></div>
                        <i title="{{row.config.showName?row.config.showName:row.name}}">{{row.config.showName?row.config.showName:row.name}}</i>
                        <div class="horn-right"></div>
                    </span>
                    <div ng-if="widget.hasRole != false" class="box-header-btns pull-right preview-hide">
                        <a title="复制" ng-click="openCopyWidgetModal(row, 'row')"
                           class="preview-hide">
                            <i class="fa fa-files-o"></i>
                        </a>
                        <a title="设置"
                           ng-click="widgetConfigModelOpen(row)">
                            <i class="glyphicon glyphicon-cog"></i>
                        </a>
                        <a class="drag-handler" title="{{'COMMON.DRAG' | translate}}">
                            <i class="fa fa-arrows"></i>
                        </a>
                        <a title="{{'COMMON.DELETE' | translate}}" ng-click="removeParam($index)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </div>
                <!--{{row.tab.name}}-->
                <div class="box-body pd-0 dashboard-content" style="overflow: auto;background: transparent">
                    <!--<h5>{{row.config.showName?row.config.showName:row.name}}</h5>-->
                    <div ng-bind-html="row.config.showHTML" style="overflow:hidden"></div>
                </div>
            </div>
        </div>
        <!--时间选择器-->
        <div ng-if="row.type=='board'&&(row.tab.id==curTab.id||row.tab.id==true)&&row.sign=='timePicker'"
             gridster-item="row" class="panelTheme initialimize topIndex pd-0"
             ng-class="{'{{row.config.customClass?row.config.customClass: ''}}': true}">
            <div class="box box-solid borderStyleNone titleStyleNone" ng-controller="CustomWidgetCtrl"
                 ng-class="{true: {{row.theme.classes?row.theme.classes: []}},
                         'titleStyleNone': row.config.noTitle, 'borderStyleNone': row.config.noBorder}">
                <div class="box-header with-border">
                    <span>
                        <div class="horn-left"></div>
                        <i title="{{row.config.showName?row.config.showName:row.name}}">{{row.config.showName?row.config.showName:row.name}}</i>
                        <div class="horn-right"></div>
                    </span>
                    <div ng-if="widget.hasRole != false" class="box-header-btns pull-right preview-hide">
                        <a title="复制" ng-click="openCopyWidgetModal(row, 'row')"
                           class="preview-hide">
                            <i class="fa fa-files-o"></i>
                        </a>
                        <a title="设置"
                           ng-click="widgetConfigModelOpen(row)">
                            <i class="glyphicon glyphicon-cog"></i>
                        </a>
                        <a class="drag-handler" title="{{'COMMON.DRAG' | translate}}">
                            <i class="fa fa-arrows"></i>
                        </a>
                        <a title="{{'COMMON.DELETE' | translate}}" ng-click="removeParam($index)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </div>
                <!--{{row.tab.name}}-->
                <div class="box-body pd-0 bg-w datepicker_box" style="overflow: auto;background: transparent">
                    <h5>{{row.config.showName?row.config.showName:row.name}}</h5>
                    <div ng-init="initTime(row)">
                        <div ng-if="row.config.timeType == 'day'" class="moment-picker-sty dSelect"
                             data-eventName="{{ row.config.eventName }}" data-selected="{{ row.config.defaultValue }}"
                             moment-picker="row.config.showValue" change="changeTime(newValue, row, 'day')"
                             locale="zh-cn" today="true" format="YYYY年MM月DD日" max-view="month" min-view="year"
                             start-view="month"> {{ row.config.initValue?row.config.initValue:row.config.showValue }}
                        </div>
                        <div ng-if="row.config.timeType == 'month'" class="moment-picker-sty dSelect"
                             data-eventName="{{ row.config.eventName }}" data-selected="{{ row.config.defaultValue }}"
                             moment-picker="row.config.showValue" change="changeTime(newValue, row, 'month')"
                             locale="zh-cn" today="true" format="YYYY年MM月" max-view="year" min-view="decade"
                             start-view="year"> {{ row.config.initValue?row.config.initValue:row.config.showValue }}
                        </div>
                        <div ng-if="row.config.timeType == 'year'" class="moment-picker-sty dSelect"
                             data-eventName="{{ row.config.eventName }}" data-selected="{{ row.config.defaultValue }}"
                             moment-picker="row.config.showValue" change="changeTime(newValue, row, 'year')"
                             locale="zh-cn" format="YYYY年" max-view="decade"> {{ row.config.initValue?row.config.initValue:row.config.showValue }}
                        </div>
                        <div ng-if="row.config.isExist" class="btn-group btn-group-xs" role="group"
                             aria-label="Extra-small button group">
                            <button type="button" class="btn btn-default" ng-click="stepTime(row, 'back')"><i
                                    class="fa fa-chevron-left" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-default" ng-click="stepTime(row, 'forWard')"><i
                                    class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <!--<div class="flex-row" ng-init="initTime(row)">-->
                    <!--<div class="flex1">-->
                    <!--<h5>{{row.name}}</h5>-->
                    <!--</div>-->
                    <!--<div class="flex3">-->
                    <!--<div ng-if="row.config.timeType == 'day'" class="moment-picker-sty dSelect" data-eventName="{{ row.config.eventName }}" data-selected="{{ row.finalTime }}"-->
                    <!--moment-picker="row.timePicker" change="changeTime(newValue, row, 'day')"-->
                    <!--locale="zh-cn" today="true"  format="YYYY-MM-DD"> {{ row.timePicker }} </div>-->
                    <!--<div ng-if="row.config.timeType == 'month'" class="moment-picker-sty dSelect" data-eventName="{{ row.config.eventName }}" data-selected="{{ row.finalTime }}"-->
                    <!--moment-picker="row.timePicker" change="changeTime(newValue, row, 'month')"-->
                    <!--locale="zh-cn" today="true" format="YYYY-MM-01" max-view="year" min-view="decade" start-view="decade"> {{ row.timePicker }} </div>-->
                    <!--<div ng-if="row.config.timeType == 'year'" class="moment-picker-sty dSelect" data-eventName="{{ row.config.eventName }}" data-selected="{{ row.finalTime }}"-->
                    <!--moment-picker="row.timePicker" change="changeTime(newValue, row, 'year')"-->
                    <!--locale="zh-cn"  format="YYYY-01-01" max-view="decade" > {{ row.timePicker }} </div>-->
                    <!--</div>-->
                    <!--<div class="flex1">-->
                    <!--<div class="btn-group btn-group-xs" style="margin-left: 5px;">-->
                    <!--<button type="button" class="btn btn-default" ng-click="stepTime(row, 'back')">-->
                    <!--<i class="fa fa-chevron-left" style="line-height: 20px;"></i></button>-->
                    <!--<button type="button" class="btn btn-default" ng-click="stepTime(row, 'forWard')">-->
                    <!--<i class="fa fa-chevron-right" style="line-height: 20px;"></i></button>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <!--触发-->
        <div ng-if="row.type=='board'&&(row.tab.id==curTab.id||row.tab.id==true)&&row.sign=='trigger'"
             gridster-item="row" class="panelTheme initialimize topIndex pd-0 bg-w"
             ng-class="{'{{row.config.customClass?row.config.customClass: ''}}': true}">
            <div class="box box-solid borderStyleNone titleStyleNone" ng-controller="CustomWidgetCtrl"
                 ng-class="{true: {{row.theme.classes?row.theme.classes: []}},
                             'titleStyleNone': row.config.noTitle, 'borderStyleNone': row.config.noBorder}">
                <div class="box-header with-border">
                    <span>
                        <div class="horn-left"></div>
                        <i title="{{row.config.showName?row.config.showName:row.name}}">{{row.config.showName?row.config.showName:row.name}}</i>
                        <div class="horn-right"></div>
                    </span>
                    <div ng-if="widget.hasRole != false" class="box-header-btns pull-right preview-hide">
                        <a title="复制" ng-click="openCopyWidgetModal(row, 'row')"
                           class="preview-hide">
                            <i class="fa fa-files-o"></i>
                        </a>
                        <a title="设置"
                           ng-click="widgetConfigModelOpen(row)">
                            <i class="glyphicon glyphicon-cog"></i>
                        </a>
                        <a class="drag-handler" title="{{'COMMON.DRAG' | translate}}">
                            <i class="fa fa-arrows"></i>
                        </a>
                        <a title="{{'COMMON.DELETE' | translate}}" ng-click="removeParam($index)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </div>
                <!--{{row.tab.name}}-->
                <div class="box-body pd-0 trigger_box" style="overflow: auto">
                    <h5>&nbsp;</h5>
                    <div>
                        <button class="btn btn-success btn-sm custom-btn" ng-click="triggerTime(row.config)">
                            <i class="fa fa-search"></i>
                            查询
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--自定义触发-->
        <div ng-if="row.type=='board'&&(row.tab.id==curTab.id||row.tab.id==true)&&row.sign=='customTrigger'"
             gridster-item="row" class="panelTheme initialimize topIndex pd-0"
             ng-class="{'{{row.config.customClass?row.config.customClass: ''}}': true}">
            <div class="box box-solid borderStyleNone titleStyleNone" ng-controller="CustomWidgetCtrl"
                 ng-class="{true: {{row.theme.classes?row.theme.classes: []}},
                             'titleStyleNone': row.config.noTitle, 'borderStyleNone': row.config.noBorder}">
                <div class="box-header with-border">
                    <span>
                        <div class="horn-left"></div>
                        <i title="{{row.config.showName?row.config.showName:row.name}}">{{row.config.showName?row.config.showName:row.name}}</i>
                        <div class="horn-right"></div>
                    </span>
                    <div ng-if="widget.hasRole != false" class="box-header-btns pull-right preview-hide">
                        <a title="复制" ng-click="openCopyWidgetModal(row, 'row')"
                           class="preview-hide">
                            <i class="fa fa-files-o"></i>
                        </a>
                        <a title="设置"
                           ng-click="widgetConfigModelOpen(row)">
                            <i class="glyphicon glyphicon-cog"></i>
                        </a>
                        <a class="drag-handler" title="{{'COMMON.DRAG' | translate}}">
                            <i class="fa fa-arrows"></i>
                        </a>
                        <a title="{{'COMMON.DELETE' | translate}}" ng-click="removeParam($index)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </div>
                <!--{{row.tab.name}}-->
                <div class="box-body pd-0 auto_trigger_box" style="overflow: auto;background-color:transparent">
                    <h5>&nbsp</h5>
                    <div>
                        <button class="btn btn-success btn-sm custom-btn" ng-click="boardFunBtnClick(row.config)">
                            <i ng-class="row.customIcon"></i>
                            {{row.customName}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--自定义下拉框-->
        <div ng-if="row.type=='board'&&(row.tab.id==curTab.id||row.tab.id==true)&&row.sign=='columns'"
             gridster-item="row" class="panelTheme initialimize topIndex"
             style="z-index: 1000;padding: 0;"
             ng-class="{'{{row.config.customClass?row.config.customClass: ''}}': true}">
            <div class="box box-solid borderStyleNone titleStyleNone" ng-controller="CustomWidgetCtrl"
                 ng-class="{true: {{row.theme.classes?row.theme.classes: []}},
                             'titleStyleNone': row.config.noTitle, 'borderStyleNone': row.config.noBorder}">
                <div class="box-header with-border">
                    <span>
                        <div class="horn-left"></div>
                        <i title="{{row.config.showName?row.config.showName:row.name}}">{{row.config.showName?row.config.showName:row.name}}</i>
                        <div class="horn-right"></div>
                    </span>
                    <div ng-if="widget.hasRole != false" class="box-header-btns pull-right preview-hide">
                        <a title="复制" ng-click="openCopyWidgetModal(row, 'row')"
                           class="preview-hide">
                            <i class="fa fa-files-o"></i>
                        </a>
                        <a title="设置"
                           ng-click="widgetConfigModelOpen(row)">
                            <i class="glyphicon glyphicon-cog"></i>
                        </a>
                        <a class="drag-handler" title="{{'COMMON.DRAG' | translate}}">
                            <i class="fa fa-arrows"></i>
                        </a>
                        <a title="{{'COMMON.DELETE' | translate}}" ng-click="removeParam($index)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </div>
                <!--{{row.tab.name}}-->
                <div class="box-body pd-0 auto_select_box" style="background: transparent">
                    <h5>{{row.config.showName?row.config.showName:row.name}}</h5>
                    <div>
                        <select ng-init="initMultipleSelect(row, $index)"
                                id="select_{{row.config.eventName ? row.config.eventName : row.name}}"
                                class="dSelect selector_multiple_simple"
                                ng-class="{'isSingle':row.config.chooseType == 1}"
                                data-eventName="{{ row.config.eventName }}">
                            <!--ng-change="changeColumn(row.config, row.config.showValue)"-->
                            <option ng-repeat="item in row.config.columns" value="{{item}}">{{item}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!--自定义输入-->
        <div ng-if="row.type=='board'&&(row.tab.id==curTab.id||row.tab.id==true)&&row.sign=='input'"
             gridster-item="row" class="panelTheme initialimize topIndex"
             ng-class="{'{{row.config.customClass?row.config.customClass: ''}}': true}">
            <div class="box box-solid" ng-controller="CustomWidgetCtrl"
                 ng-class="{true: {{row.theme.classes?row.theme.classes: []}},
                            'titleStyleNone': row.config.noTitle, 'borderStyleNone': row.config.noBorder}">
                <div class="box-header with-border">
                    <span>
                        <div class="horn-left"></div>
                        <i title="{{row.config.showName?row.config.showName:row.name}}">{{row.config.showName?row.config.showName:row.name}}</i>
                        <div class="horn-right"></div>
                    </span>
                    <div ng-if="widget.hasRole != false" class="box-header-btns pull-right preview-hide">
                        <a title="复制" ng-click="openCopyWidgetModal(row, 'row')"
                           class="preview-hide">
                            <i class="fa fa-files-o"></i>
                        </a>
                        <a title="设置"
                           ng-click="widgetConfigModelOpen(row)">
                            <i class="glyphicon glyphicon-cog"></i>
                        </a>
                        <a class="drag-handler" title="{{'COMMON.DRAG' | translate}}">
                            <i class="fa fa-arrows"></i>
                        </a>
                        <a title="{{'COMMON.DELETE' | translate}}" ng-click="removeParam($index)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </div>
                <!--{{row.tab.name}}-->
                <div class="box-body pd-0 auto_input_box" style="overflow: auto;background: transparent"
                     ng-init="row.config.showValue = row.config.defaultValue">
                    <h5>{{row.config.showName?row.config.showName:row.name}}</h5>
                    <div>
                        <input id="{{row.name}}_input"
                               ng-model="row.config.showValue" style="padding-left: 5px"
                               ng-blur="changeColsDefault(row)"
                               data-name="{{row.name}}"
                               data-value="{{row.config.showValue}}"
                               data-eventName="{{row.config.eventName}}"
                               class="moment-picker-sty moment-picker-input selector-input" ng-focus="focueChangeColsDefault(row)">
                    </div>
                </div>
            </div>
        </div>
        <!-- 胶囊按钮 -->
        <div ng-if="row.type=='board'&&(row.tab.id==curTab.id||row.tab.id==true)&&row.sign=='capsule'"
             gridster-item="row" class="panelTheme initialimize topIndex"
             ng-class="{'{{row.config.customClass?row.config.customClass: ''}}': true}">
            <div class="box box-solid" ng-controller="CustomWidgetCtrl"
                 ng-class="{true: {{row.theme.classes?row.theme.classes: []}},
                             'titleStyleNone': row.config.noTitle, 'borderStyleNone': row.config.noBorder}">
                <div class="box-header with-border">
                    <span>
                        <div class="horn-left"></div>
                        <i title="{{row.config.showName?row.config.showName:row.name}}">{{row.config.showName?row.config.showName:row.name}}</i>
                        <div class="horn-right"></div>
                    </span>
                    <div ng-if="widget.hasRole != false" class="box-header-btns pull-right preview-hide">
                        <a title="复制" ng-click="openCopyWidgetModal(row, 'row')"
                           class="preview-hide">
                            <i class="fa fa-files-o"></i>
                        </a>
                        <a title="设置"
                           ng-click="widgetConfigModelOpen(row)">
                            <i class="glyphicon glyphicon-cog"></i>
                        </a>
                        <a class="drag-handler" title="{{'COMMON.DRAG' | translate}}">
                            <i class="fa fa-arrows"></i>
                        </a>
                        <a title="{{'COMMON.DELETE' | translate}}" ng-click="removeParam($index)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </div>
                <!--{{row.tab.name}}-->
                <div ng-init="initCapsule(row.config)" class="box-body pd-0 capsule_btn_group" style="background: transparent">
                    <div class="capsule_panel">
                        <h5>{{row.config.showName?row.config.showName:row.name}}</h5>
                        <div class="capsule_content">
                            <label ng-repeat="item in row.config.columns"
                                   class="capsule_btn"
                                   data-eventName="{{row.config.eventName}}"
                                   data-value="{{item}}"
                                   data-active="{{row.config.activeName}}"
                                   ng-class="{'active': row.config.activeName === item}"
                                   ng-click="switchCapsule(row.config, item)"><span>{{item}}</span></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-repeat="row in board.layout.rows">
        <!--组件 widget-->
        <div ng-if="row.type=='widget'&&row.widgets.length>0&&!widget.hide"
             gridster-item="widget"
             ng-init="widget.maximize = false"
             ng-class="{'maximize':widget.maximize,'{{widget.config.customClass?widget.config.customClass: ''}}': true}"
             ng-repeat="widget in row.widgets"
             class="panelTheme initialimize topIndex"
             widget="{{widget.name}}_{{widget.widget.data.config.chart_type}}"
             ng-style="{'z-index': row.widgets[0].widget.data.config.chart_type == 'selector' ? 1000 : 999}">
            <div ng-class="{'{{widget.theme?widget.theme.classes: []}}':true,
                            'titleStyleNone': widget.config.noTitle,
                            'borderStyleNone': widget.config.noBorder,
                            'tableContent': widgetBoxStyleByType(widget)}"
                 class="box box-solid"
                 ng-controller="CustomWidgetCtrl">
                <div class="box-header with-border">
                    <span>
                            <div class="horn-left"></div>
                            <i ng-if="widget.filterName">[{{widget.filterName}}]</i>
                            <i title="{{ widget.config.showName?widget.config.showName:widget.name }}">{{ widget.config.showName?widget.config.showName:widget.name }}</i>
                            <div class="horn-right"></div>

                    </span>
                    <div ng-if="widget.hasRole != false" class="box-header-btns pull-right">
                        <a title="{{'COMMON.EDIT' | translate}}" ng-click="goToEditPage(widget.widgetId)"
                           class="preview-hide">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <!--<a title="导出EXCEL" ng-click="exportXLSX(widget)"-->
                        <!--class="preview-hide">-->
                        <!--<i class="fa fa-file-excel-o"></i>-->
                        <!--</a>-->
                        <a title="复制" ng-click="openCopyWidgetModal(widget, 'widget')"
                           class="preview-hide">
                            <i class="fa fa-files-o"></i>
                        </a>
                        <a title="设置" class="preview-hide"
                           ng-click="widgetConfigModelOpen(widget)">
                            <i class="glyphicon glyphicon-cog"></i>
                        </a>
                        <a class="drag-handler preview-hide" title="{{'COMMON.DRAG' | translate}}">
                            <i class="fa fa-arrows"></i>
                        </a>
                        <a class="" title="描述" ng-click="goToDescribe(widget.widget.data.config.option.describe)"
                           ng-show="widget.widget.data.config.option.describe">
                            <i class="fa fa-info-circle"></i>
                        </a>
                        <!--<a title="setting" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>-->
                        <a title="{{'COMMON.DELETE' | translate}}" ng-click="remove(row,$index)" class="preview-hide">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <a title="最大化" ng-click="maximizeWidget(widget,$event)"
                           ng-show="widget.config.isallow">
                            <i class="fa fa-expand"></i>
                            <!--max-->
                        </a>
                        <!--<a title="{{'COMMON.DELETE' | translate}}" ng-click="reloadWidget(widget)">-->
                        <!--刷新-->
                        <!--</a>-->
                    </div>
                </div>
                <div class="box-content" ng-if="widget.show"> <!--style="overflow: auto"-->
                    <!--<div class="alert alert-success" ng-show="widget.widget.data.config.boardFilters">-->
                    <!--{{widget.widget.data.config.boardFilters}}-->
                    <!--</div>-->
                    <!--<div>{{widget["tab"]}}</div>-->
                    <!--{{widget.widget.name}}-->
                    <div nv-dashboard-widget style="display: flex;flex:1;background: transparent"
                         class="dashboard-content"
                         ng-hide="widget.widget.data.loadingCircle && widget.widget.data.config.chart_type!=='treeGrid'"
                         ng-class="{'tableOverflow':(widget.widget.data.config.chart_type=='dataLineTable' || widget.widget.data.config.chart_type=='table' || widget.widget.data.config.chart_type=='flex2'),
                                    'flex-title-innercontent': widget.widget.data.config.chart_type == 'flex2'}">
                        <!-- style="overflow: auto"-->
                        <button ng-if="widget.config.transposition && widget.widget.data.config.chart_type=='crossTable'"
                                ng-click="widgetTransposition(widget)"
                                style="border: 0;position: absolute;right: 0;border-radius: 3px;z-index: 9;">转置
                        </button>
                        <!--<button ng-if="widget.widget.data.config.chart_type=='table'"-->
                        <!--ng-click="downloadExcel(widget)"-->
                        <!--style="border: 0;position: absolute;right: 15px;border-radius: 3px;z-index: 9;background-color: transparent;color: #11A0F8;">-->
                        <!--<i class="fa fa-file-excel-o"></i>-->
                        <!--</button>-->
                    </div>
                    <!--<div ng-show="widget.loading || !widget.show" style="padding:20px;width:100%;height:100%">-->
                    <!--<i class="fa fa-spinner fa-spin"></i>-->
                    <!--{{"COMMON.LOADING" | translate}}-->
                    <!--</div>-->
                    <div ng-show="widget.widget.data.loadingCircle || !widget.show && widget.widget.data.config.chart_type != 'selector'"
                         class="loading-panel"
                         ng-class="{'transparent':widget.widget.data.config.chart_type === 'selector'||widget.widget.data.config.chart_type === 'flex2',
                                    'treeGridLoading': widget.widget.data.config.chart_type === 'treeGrid'}">
                        <div class="loader">
                            <div class="loading-spinner">
                                <svg viewBox="25 25 50 50" class="circle">
                                    <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div ng-if="widget.widget.data.config.chart_type!=='flex2'&&widget.widget.data.config.chart_type!=='selector'&&widget.widget.data.noData&&!widget.widget.data.loadingCircle"
                         class="no-data-panel">
                        <div class="inner-no-data-panel">
                            <p>啊噢，没有找到任何数据......</p>
                            <img src="imgs/nodata.png"/>
                        </div>
                    </div>
                    <!--{{widget}}-->
                </div>
            </div>
        </div>
        <!--img-->
        <div ng-if="row.type=='board'&&(row.tab.id==curTab.id||row.tab.id==true)&&row.sign=='img'" gridster-item="row"
             class="panelTheme initialimize topIndex">
            <div class="box box-solid" ng-controller="CustomWidgetCtrl"
                 ng-class="{true: {{row.theme.classes?row.theme.classes: []}}, 'titleStyleNone': row.config.noTitle, 'borderStyleNone': row.config.noBorder}">
                <div class="box-header with-border">
                    <span>
                        <div class="horn-left"></div>
                        <i title="{{row.config.showName?row.config.showName:row.name}}">{{row.config.showName?row.config.showName:row.name}}</i>
                        <div class="horn-right"></div>
                    </span>
                    <div ng-if="widget.hasRole != false" class="box-header-btns pull-right preview-hide">
                        <!--                        <a title="{{'COMMON.EDIT' | translate}}" ng-click="widgetConfigModelOpen(row)">
                                                    <i class="glyphicon glyphicon-cog"></i>
                                                </a>-->
                        <a title="设置"
                           ng-click="widgetConfigModelOpen(row)">
                            <i class="glyphicon glyphicon-cog"></i>
                        </a>
                        <a class="drag-handler" title="{{'COMMON.DRAG' | translate}}">
                            <i class="fa fa-arrows"></i>
                        </a>
                        <a title="{{'COMMON.DELETE' | translate}}" ng-click="removeParam($index)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content" style="overflow: auto">
                    <img ng-if="imgUrl!=''" ng-src="{{row.config.imgUrl}}" width="100%"/>
                </div>
            </div>
        </div>
        <!--动态标题-->
        <div ng-if="row.type=='board'&&(row.tab.id==curTab.id||row.tab.id==true)&&row.sign=='title'"
             gridster-item="row" class="panelTheme initialimize topIndex">
            <div class="box box-solid" ng-controller="CustomWidgetCtrl"
                 ng-class="{true: {{row.theme.classes?row.theme.classes: []}}, 'titleStyleNone': row.config.noTitle, 'borderStyleNone': row.config.noBorder}">
                <div class="box-header with-border">
                    <span>
                        <div class="horn-left"></div>
                        <i title="{{row.config.showName?row.config.showName:row.name}}">{{row.config.showName?row.config.showName:row.name}}</i>
                        <div class="horn-right"></div>
                    </span>
                    <div ng-if="widget.hasRole != false" class="box-header-btns pull-right preview-hide">
                        <a title="编辑" ng-click="addDynamicTitle(row)">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a title="设置"
                           ng-click="widgetConfigModelOpen(row)">
                            <i class="glyphicon glyphicon-cog"></i>
                        </a>
                        <a class="drag-handler" title="{{'COMMON.DRAG' | translate}}">
                            <i class="fa fa-arrows"></i>
                        </a>
                        <a title="{{'COMMON.DELETE' | translate}}" ng-click="removeParam($index)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </div>
                <!--{{row.tab.name}}-->
                <div class="box-content" style="overflow: auto">
                    <div class="box-body" ng-init="dynamicTitleFun()">
                        <div class="dynamicTitle">{{row.showTitle}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!--静态文本-->
        <div ng-if="row.type=='board'&&(row.tab.id==curTab.id||row.tab.id==true)&&row.sign=='static'"
             gridster-item="row" class="panelTheme initialimize topIndex">
            <div class="box box-solid" ng-controller="CustomWidgetCtrl"
                 ng-class="{true: {{row.theme.classes?row.theme.classes: []}}, 'titleStyleNone': row.config.noTitle, 'borderStyleNone': row.config.noBorder}">
                <div class="box-header with-border">
                    <span>
                        <div class="horn-left"></div>
                        <i title="{{row.config.showName?row.config.showName:row.name}}">{{row.config.showName?row.config.showName:row.name}}</i>
                        <div class="horn-right"></div>
                    </span>
                    <div ng-if="widget.hasRole != false" class="box-header-btns pull-right preview-hide">
                        <a title="编辑" ng-click="addStaticText(row)">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a title="设置"
                           ng-click="widgetConfigModelOpen(row)">
                            <i class="glyphicon glyphicon-cog"></i>
                        </a>
                        <a class="drag-handler" title="{{'COMMON.DRAG' | translate}}">
                            <i class="fa fa-arrows"></i>
                        </a>
                        <a title="{{'COMMON.DELETE' | translate}}" ng-click="removeParam($index)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </div>
                <!--{{row.tab.name}}-->
                <div class="box-content" style="overflow: auto">
                    <div class="box-body">
                        <div class="dynamicTitle" ng-bind-html="row.config.editor"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--iframe-->
        <div ng-if="row.type=='board'&&(row.tab.id==curTab.id||row.tab.id==true)&&row.sign=='iframe'"
             gridster-item="row" class="panelTheme initialimize topIndex">
            <div class="box box-solid borderStyleNone titleStyleNone" ng-controller="CustomWidgetCtrl"
                 ng-class="{true: {{row.theme.classes?row.theme.classes: []}}, 'titleStyleNone': row.config.noTitle, 'borderStyleNone': row.config.noBorder}">
                <div class="box-header with-border">
                    <span>
                        <div class="horn-left"></div>
                        <i title="{{row.config.showName?row.config.showName:row.name}}">{{row.config.showName?row.config.showName:row.name}}</i>
                        <div class="horn-right"></div>
                    </span>
                    <div ng-if="widget.hasRole != false" class="box-header-btns pull-right preview-hide">
                        <a title="设置"
                           ng-click="widgetConfigModelOpen(row)">
                            <i class="glyphicon glyphicon-cog"></i>
                        </a>
                        <a class="drag-handler" title="{{'COMMON.DRAG' | translate}}">
                            <i class="fa fa-arrows"></i>
                        </a>
                        <a title="{{'COMMON.DELETE' | translate}}" ng-click="removeParam($index)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </div>
                <!--{{row.tab.name}}-->
                <div class="box-content" style="overflow: auto">
                    <iframe ng-src="{{(row.config.showUrl||row.config.url) | trustAsResourceUrl}}" class="form-control"
                            style="width: 100%;height:100%; padding:0; border:none;" frameborder="0"></iframe>
                </div>
            </div>
        </div>
        <!--tab组-->
        <div ng-if="row.type=='board'&&(row.tab.id==curTab.id||row.tab.id==true)&&row.sign=='tabs'" gridster-item="row"
             class="panelTheme initialimize topIndex">
            <div class="box box-solid" ng-controller="CustomWidgetCtrl"
                 ng-class="{true: {{row.theme.classes?row.theme.classes: []}}, 'titleStyleNone': row.config.noTitle, 'borderStyleNone': row.config.noBorder}">
                <div class="box-header with-border">
                    <span>
                        <div class="horn-left"></div>
                        <i title="{{row.config.showName?row.config.showName:row.name}}">{{row.config.showName?row.config.showName:row.name}}</i>
                        <div class="horn-right"></div>
                    </span>
                    <div ng-if="widget.hasRole != false" class="box-header-btns pull-right preview-hide">
                        <a title="设置"
                           ng-click="widgetConfigModelOpen(row)">
                            <i class="glyphicon glyphicon-cog"></i>
                        </a>
                        <a class="drag-handler" title="{{'COMMON.DRAG' | translate}}">
                            <i class="fa fa-arrows"></i>
                        </a>
                        <a title="{{'COMMON.DELETE' | translate}}" ng-click="removeParam($index)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </div>
                <!--{{row.tab.name}}-->
                <div class="box-content" style="overflow: auto">
                    <ul class="new-tab flex-col">
                        <li ng-class="{active:curTab.id == tab.id}" class="flex1" ng-repeat="tab in tabs"
                            ng-click="goToTab(tab)">
                            <a data-toggle="tab">
                                <strong>{{tab.name}}</strong>
                                <i class="fa fa-pencil preview-hide" ng-click="changeTabName(tab)"></i>
                                <i class="fa fa-trash-o preview-hide" ng-click="deleteTab($index)"></i>
                            </a>
                        </li>
                        <li role="presentation" ng-click="addTab()" class="preview-hide">
                            <a role="menuitem" tabindex="-1"><i class="fa fa-plus"></i> Tab</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--条件组-->
        <div ng-if="row.type=='param'&&(row.tab.id==curTab.id||row.tab.id==true)" gridster-item="row"
             class="panelTheme initialimize topIndex conditionGroup">
            <div class="box box-solid" ng-controller="CustomWidgetCtrl"
                 ng-class="{true: {{row.theme.classes?row.theme.classes: []}}, 'titleStyleNone': row.config.noTitle, 'borderStyleNone': row.config.noBorder}">
                <div class="box-header with-border">
                    <span>
                        <div class="horn-left"></div>
                        <i title="{{row.config.showName?row.config.showName:row.name}}">{{row.config.showName?row.config.showName:row.name}}</i>
                        <div class="horn-right"></div>
                    </span>
                    <div ng-if="widget.hasRole != false" class="box-header-btns pull-right preview-hide">
                        <a title="{{'COMMON.EDIT' | translate}}" ng-click="editParamRow(row)">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a title="设置"
                           ng-click="widgetConfigModelOpen(row)">
                            <i class="glyphicon glyphicon-cog"></i>
                        </a>
                        <a class="drag-handler" title="{{'COMMON.DRAG' | translate}}">
                            <i class="fa fa-arrows"></i>
                        </a>
                        <a title="{{'COMMON.DELETE' | translate}}" ng-click="removeParam($index)">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </div>
                </div>
                <!--{{row.tab.name}}-->
                <div class="box-content"><!-- style="overflow: auto"-->
                    <div class="">
                        <div class="box-header" style="padding: 0;">
                            <div class="box-tools pull-right preview-hide" ng-init="paramInfoShow = true">
                                <div ng-show="paramInfoShow" class="paramTemplate btn btn-box-tool">
                                    {{paramToString(row)}}
                                </div>
                                <button type="button" class="btn btn-box-tool"
                                        ng-click="paramInfoShow = !paramInfoShow">
                                    <i class="fa fa-info-circle"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div><!-- 这个div是必要的 -->
                                <div ng-repeat="param in row.params"
                                     ng-controller="NvParamCtrl" ng-init="init()" class="pull-left">
                                    <ng-include src="'src/view/nv/dashboard/param/selector.html'"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .contentTheme .panelTheme > .titleStyleNone.box {
            /* background: none; */
            /* border: none; */
            border-radius: 0;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        }

        .borderStyleNone {
            border: none;
            background: none;
            box-shadow: none !important;
        }
    </style>
</div>
