<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
        <span aria-hidden="true">×</span></button>
    <h4 class="modal-title">{{'CONFIG.WIDGET.THRESHOLD'|translate}}</h4>
</div>
<div class="modal-body">
    <div ng-repeat="(key, threshold) in thresholds">
        <div class="row" style="margin-bottom: 10px">
            <div class="col-md-3">
                <label>键名</label>
            </div>
            <div class="col-md-2">
                <label>最小值</label>
            </div>
            <div class="col-md-2">
                <label>最大值</label>
            </div>
            <div class="col-md-3">
                <label>颜色</label>
            </div>
            <div class="col-md-2" style="text-align: center;">
                <label>操作</label>
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px" ng-repeat="item in threshold">
            <div class="col-md-3">
                <input type="text" class="form-control" ng-model="item.t_key">
            </div>
            <div class="col-md-2">
                <input type="number" class="form-control" ng-model="item.t_min_values">
            </div>
            <div class="col-md-2">
                <input type="number" class="form-control" ng-model="item.t_max_values">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" ng-model="item.t_color">
            </div>
            <div class="col-md-2">
                <button type="button" style="width: 100%;padding-top: 5px; padding-bottom: 5px;" class="btn btn-default" data-dismiss="modal" ng-click="delete($index)"><i class="fa fa-trash-o fa-lg"></i></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <button type="button" style="width: 100%" class="btn btn-default" data-dismiss="modal" ng-click="add()"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="test()">{{'COMMON.CANCEL'|translate}}</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">{{'COMMON.OK'|translate}}</button>
</div>