<div class="automodel-header">
    <b class="automodel-close-b-style">配置数据库关系</b>
        <button type="button" class="close automodel-close-bt-style" data-dismiss="modal" aria-label="Close" ng-click="close()">
            <span class="automodel-close-sp-style" aria-hidden="true">×</span></button>
</div>
    <div class="modal-body">
        <div>当前表：{{currentTable.tableName}}</div>
        <div class="row pd-5">
            <div class="btn-group">
                <label class="btn btn-primary ng-untouched ng-valid ng-not-empty ng-dirty" ng-model="radioModel" uib-btn-radio="'left join'" style="">Left</label>
                <label class="btn btn-primary ng-untouched ng-valid ng-not-empty ng-dirty" ng-model="radioModel" uib-btn-radio="'inner join'" style="">Inner</label>
                <label class="btn btn-primary ng-untouched ng-valid ng-not-empty ng-dirty active ng-valid-parse" ng-model="radioModel" uib-btn-radio="'right join'" style="">Right</label>
            </div>
        </div>
        <div class="row pd-5">
            <select class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" ng-model="targetTable.tableName" ng-change="selectTable()">
                <option ng-value="item.tableName" ng-repeat="item in selectedTable">{{item.tableName}}</option>
            </select>
        </div>
        <table class="table">
            <caption>选择对应字段关系</caption>
            <thead>
                <tr>
                <th>#</th>
                <th>当前表字段</th>
                <th>关系</th>
                <th>目标表字段</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in relationList">
                    <th scope="row">1</th>
                    <td>
                        <select class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" ng-model="item.current">
                            <option ng-value="r" ng-repeat="r in currentTable.columns">{{r}}</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" ng-model="item.relation">
                            <option ng-value="r" ng-repeat="r in relationOptions">{{r}}</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched" ng-model="item.target">
                            <option ng-value="r" ng-repeat="r in targetTable.columns">{{r}}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" ng-click="add()">增加</button>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="ok()">{{'COMMON.OK'|translate}}</button>
    </div>

<style>
    /*::-webkit-scrollbar {background:  #9ba1af;}  !*上下箭头*!*/
    /*::-webkit-scrollbar {width: 6px;}*/
    /*这是控制模态框圆角*/
    .modal-content {
        border-radius: 6px;
    }
    .automodel-footer {
        border-radius: 4px;
    }
    .automodel-header {
        border-radius: 4px 4px 0px 0px;
    }

    /*这是模态框头部样式*/
    .automodel-header {
        font-size: 14px;line-height: 45px;padding: 0 20px;background-color: #464f63;
    }
    .automodel-close-b-style {
        color: white;font-weight: 700;letter-spacing: 1px;
    }
    .automodel-close-bt-style {
        outline: none;
    }
    .automodel-close-sp-style {
        line-height: 45px;color: white;
    }

    /*这是横线下--数据列表区域*/
    .automodel-list-district {
        padding:20px 20px 10px;
    }

    /*这是a、ul、li、hover、覆盖原来样式--修正*/
    a {
        color: #333333;
    }
    ul {
        border-radius: 4px;
        background-color: #fcfcfd;
        padding-left: 0;
    }
    ul li a {
        display: block;
        padding: 5px 7px;
    }
    ul li {
        list-style-type: none;
    }
    .automodel-list-district ul li {
        width: 100%;
        list-style-type: none;
        margin: 4px 0;
    }
    ul li :hover {
        padding: 5px 7px;
        border-radius: 2px;
        background-color: #bdc3d1;
        color: white;
        transition: all 0.2s ease-out 0s;
    }
    .data-active {
        color: white;
        border-radius: 2px;
        background: #464f63 !important;
        transition: all 0.5s ease-out 0s;
    }
    .table-active {
        color: white;
        border-radius: 2px;
        background: #464f63 !important;
    }

    /*这是尾部样式*/
    .automodel-footer {
        background-color: #f6f7f8;
        padding: 15px 15px 15px;
        text-align: right;
    }







</style>