<!DOCTYPE html>
<html ng-controller="discoveryCtrl" ng-app="discovery">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Discovery | Starter</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="css/style_preview.css"/>

    <!--[if lt IE 9]>
    <script src="lib/html5shiv.min.js"></script>
    <script src="lib/respond.min.js"></script>
    <![endif]-->

</head>
<body class="loading-hidden">
<section>
    <div class="mainpanel">
        <div class="contentpanel">
            <ui-view>
            </ui-view>
        </div>
    </div>
</section>

<script src="config.js"></script>
<script>
  window.isPreview = true
</script>
<script src="js/jquery.js"></script>

<script src="js/libs_min1.js"></script>

<script src="js/libs_min2.js"></script>

<script src="js/libs_min3.js"></script>


<script src="js/app_preview.js"></script>

<script type="text/javascript" src="js/templates_preview.js"></script>

<script type="text/ng-template" id="echartContent">
    <div class="col-md-{{widget.width}}">
        <div class="box box-solid" style="z-index: 99;">
            <div class="box-header" ng-mouseover="x=true" ng-mouseleave="x=false">
                <!--<i class="fa fa-bar-chart-o"></i>-->
                <h3 class="box-title">{{widget.name}}</h3>
                <div class="box-tools pull-right" ng-show="x" ng-init="x=false">
                    <button type="button" class="btn btn-box-tool" ng-click="reload(widget)"><i
                            class="fa fa-refresh"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" ng-if="widgetCfg" ng-click="config(widget)"><i
                            class="fa fa-wrench"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" ng-click="modalChart(widget)"><i
                            class="fa fa-square-o"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" ng-style="{height:myheight+'px'}" style="padding: 3px 0px 3px 13px;">
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="kpiContent">
    <div class="col-md-{{widget.width}} kpi-body">
    </div>
</script>
<script type="text/ng-template" id="chartContent">
    <div class="col-md-{{widget.width}}" style="z-index: 99;">
        <div class="box box-solid">
            <div class="box-header" ng-mouseover="x=true" ng-mouseleave="x=false">
                <!--<i class="fa fa-bar-chart-o"></i>-->
                <h3 class="box-title">{{widget.name}}</h3>
                <div class="box-tools pull-right" ng-show="x" ng-init="x=false">
                    <button type="button" class="btn btn-box-tool" ng-click="reload(widget)"><i
                            class="fa fa-refresh"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" ng-if="widgetCfg" ng-click="config(widget)"><i
                            class="fa fa-wrench"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" ng-click="modalTable(widget)"><i
                            class="fa fa-square-o"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" ng-style="{height:myheight+'px'}" style="padding: 3px 0px 3px 13px;">
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="nvD3Content">
    <div class="box-body d3" name="{{widget.widget.data.wName}}" style="height:100%;width:100%;padding:0px;background: transparent"></div>
</script>
<script type="text/ng-template" id="nvEchartContent">
    <div class="box-body cscc" name="{{widget.widget.data.wName}}" style="height:100%;width:90%;padding:0px"></div>
</script>
<script type="text/ng-template" id="nvKpiContent">
    <div class="kpi-body" name="{{widget.widget.data.wName}}" style="height:100%;width:100%;padding:0px"></div>
</script>
<script type="text/ng-template" id="nvChartContent">
    <div class="box-body nvc" name="{{widget.widget.data.wName}}" style="height:100%;width:100%;padding:0px"></div>
</script>
<script type="text/ng-template" id="selectorContent">
    <div class="box-body" style="height:100%;width:100%;padding:0px;background: transparent"></div>
</script>
<script type="text/ng-template" id="jsMindContent">
    <div class="chart-title" style="padding: 5px 0;font-size: 16px"></div>
    <div class="box-body" style="height:300px !important;width: 300px;padding: 0;margin-top: -5px;margin-left: -20px"></div>
</script>
<div id="globalLoading" class="loading-panel"
     style="display:none;width: 100%;position: absolute;top:0;left:0;right:0;bottom:0;z-index: 1049;margin: -10px">
    <div class="loader">
        <div class="loading-spinner">
            <svg viewBox="25 25 50 50" class="circle">
                <circle cx="50" cy="50" r="20" fill="none" class="path"></circle>
            </svg>
        </div>
    </div>
</div>
</body>
</html>
