        <div class="logopanel" style="display: none">
            <h2><a href="starter.html"><img src="imgs/logo.png"/></a></h2>
        </div><!-- logopanel -->
        <div class="logopanel" style="text-align: center;">
            <h2><a href="starter.html" style="line-height: 64px;">可视化分析</a></h2>
        </div>
        <div class="headerbar">
            <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
            <div class="header-right">
                <ul class="headermenu">
                    <li style="display: none;">
                        <div id="noticePanel" class="btn-group">
                            <button class="btn btn-notice alert-notice" data-toggle="dropdown">
                                <i class="fa fa-globe"></i>
                            </button>
                            <div id="noticeDropdown" class="dropdown-menu dm-notice pull-right">
                                <div role="tabpanel">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs nav-justified" role="tablist">
                                        <li class="active"><a data-target="#notification" data-toggle="tab">Notifications
                                            (2)</a></li>
                                        <li><a data-target="#reminders" data-toggle="tab">Reminders (4)</a></li>
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="notification">
                                            <ul class="list-group notice-list">
                                                <li class="list-group-item unread">
                                                    <div class="row">
                                                        <div class="col-xs-2">
                                                            <i class="fa fa-envelope"></i>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <h5><a href="">New message from Weno Carasbong</a></h5>
                                                            <small>June 20, 2015</small>
                                                            <span>Soluta nobis est eligendi optio cumque...</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item unread">
                                                    <div class="row">
                                                        <div class="col-xs-2">
                                                            <i class="fa fa-user"></i>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <h5><a href="">Renov Leonga is now following you!</a></h5>
                                                            <small>June 18, 2015</small>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-xs-2">
                                                            <i class="fa fa-user"></i>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <h5><a href="">Zaham Sindil is now following you!</a></h5>
                                                            <small>June 17, 2015</small>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-xs-2">
                                                            <i class="fa fa-thumbs-up"></i>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <h5><a href="">Rey Reslaba likes your post!</a></h5>
                                                            <small>June 16, 2015</small>
                                                            <span>HTML5 For Beginners Chapter 1</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-xs-2">
                                                            <i class="fa fa-comment"></i>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <h5><a href="">Socrates commented on your post!</a></h5>
                                                            <small>June 16, 2015</small>
                                                            <span>Temporibus autem et aut officiis debitis...</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <a class="btn-more" href="">View More Notifications <i
                                                    class="fa fa-long-arrow-right"></i></a>
                                        </div><!-- tab-pane -->

                                        <div role="tabpanel" class="tab-pane" id="reminders">
                                            <h1 id="todayDay" class="today-day">...</h1>
                                            <h3 id="todayDate" class="today-date">...</h3>

                                            <h5 class="today-weather"><i class="wi wi-hail"></i> Cloudy 77 Degree</h5>
                                            <p>Thunderstorm in the area this afternoon through this evening</p>

                                            <h4 class="panel-title">Upcoming Events</h4>
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-xs-2">
                                                            <h4>20</h4>
                                                            <p>Aug</p>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <h5><a href="">HTML5/CSS3 Live! United States</a></h5>
                                                            <small>San Francisco, CA</small>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-xs-2">
                                                            <h4>05</h4>
                                                            <p>Sep</p>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <h5><a href="">Web Technology Summit</a></h5>
                                                            <small>Sydney, Australia</small>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-xs-2">
                                                            <h4>25</h4>
                                                            <p>Sep</p>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <h5><a href="">HTML5 Developer Conference 2015</a></h5>
                                                            <small>Los Angeles CA United States</small>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-xs-2">
                                                            <h4>10</h4>
                                                            <p>Oct</p>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <h5><a href="">AngularJS Conference 2015</a></h5>
                                                            <small>Silicon Valley CA, United States</small>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <a class="btn-more" href="">View More Events <i
                                                    class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn btn-logged" data-toggle="dropdown">
                                <!--<img src="../images/photos/loggeduser.png.jpeg" alt=""/>-->
                                <i class="glyphicon glyphicon-user"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><a ng-click="changePwd()"><i class="glyphicon glyphicon-user"></i> 修改密码</a></li>
                                <li><a href="login.do?logout"><i class="glyphicon glyphicon-log-out"></i> 退出登录</a></li>
                            </ul>
                        </div>
                    </li>
                    <li style="display: none;">
                        <button id="chatview" class="btn btn-chat alert-notice">
                            <span class="badge-alert"></span>
                            <i class="fa fa-comments-o"></i>
                        </button>
                    </li>
                </ul>
            </div><!-- header-right -->
        </div><!-- headerbar -->
<script>
    $(function () {
        $('#menuToggle').click(function () {
            var collapsedMargin = $('.mainpanel').css('margin-left');
            var collapsedLeft = $('.mainpanel').css('left');

            if (collapsedMargin === '220px' || collapsedLeft === '220px') {
                toggleMenu(-220, 0);
            } else {
                toggleMenu(0, 220);
            }

        });

        function toggleMenu(marginLeft, marginMain) {
            var emailList = ($(window).width() <= 768 && $(window).width() > 640) ? 320 : 360;
            if ($('.mainpanel').css('position') === 'relative') {
                $('.logopanel, .leftpanel').animate({left: marginLeft}, 'fast');
                $('.headerbar, .mainpanel').animate({left: marginMain}, 'fast');
                $('.emailcontent, .email-options').animate({left: marginMain}, 'fast');
                $('.emailpanel').animate({left: marginMain + emailList}, 'fast');
                if ($('body').css('overflow') == 'hidden') {
                    $('body').css({overflow: ''});
                } else {
                    $('body').css({overflow: 'hidden'});
                }
            } else {
                $('.logopanel, .leftpanel').animate({marginLeft: marginLeft}, 'fast');
                $('.headerbar, .mainpanel').animate({marginLeft: marginMain}, 'fast');
                $('.emailcontent, .email-options').animate({left: marginMain}, 'fast');
                $('.emailpanel').animate({left: marginMain + emailList}, 'fast');
            }
        }
    })
</script>
<!-- Logo -->
<a href="starter.html" class="logo" style="display: none">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>CB</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>CB</b>oard</span>
</a>

<!-- Header Navbar -->
<nav class="navbar navbar-static-top" role="navigation" style="display: none">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">{{'HEADER.TOGGLE_NAVIGATION'|translate}}</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <!-- The user image in the navbar-->
                    <img src="{{user.avatar}}" class="user-image">
                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                    <span class="hidden-xs">{{user.username}}</span>
                </a>
                <ul class="dropdown-menu">
                    <!-- The user image in the menu -->
                    <li class="user-header">
                        <img src="{{user.avatar}}" class="img-circle">
                        <p>
                            {{user.username + ' - ' + user.company + ' ' + user.department}}
                            <small>{{user.userId}}</small>
                        </p>
                    </li>
                    <!-- Menu Body -->
                    <!--<li class="user-body">-->
                    <!--<div class="row">-->
                    <!--<div class="col-xs-4 text-center">-->
                    <!--<a href="#">Followers</a>-->
                    <!--</div>-->
                    <!--<div class="col-xs-4 text-center">-->
                    <!--<a href="#">Sales</a>-->
                    <!--</div>-->
                    <!--<div class="col-xs-4 text-center">-->
                    <!--<a href="#">Friends</a>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /.row &ndash;&gt;-->
                    <!--</li>-->
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <div class="btn btn-default btn-flat" ng-click="changePwd()">
                                {{'HEADER.CHANGE_PASSWORD'|translate}}
                            </div>
                        </div>
                        <div class="pull-right">
                            <a href="j_spring_cas_security_logout" class="btn btn-default btn-flat">{{'HEADER.SIGN_OUT'|translate}}</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>